.btn {
	display: block;
	.border-radius(8px);
	outline: 0;
	text-decoration: none;
	font-family: @fontBold;
	.transition(0.3s all ease);

	&.btn-red {
		color: #fff;
		background: #bd1f20;
		line-height: 54px;

		&:hover {background: #ff5253;}
	}

	&.btn-small{
		height: 45px;
		line-height: 20px;
		font-size: 13px;
		display: inline-block;
	}


	&.btn-call-back {
		color: #fff;
		background: #ff5253;
		border-bottom: 4px solid #c83a39;
		font-family: @baseFontFamily;
		display: inline-block;
		vertical-align: top;
		font-size: 10pt;
		.border-radius(5px);
	    padding: 3px 32px;
    	height: 24px;

		&:hover {border-bottom: 2px solid #c83a39;}
	}
}