
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#calls-express {
  display: none;
  position: relative;
  margin-top: 55px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.calls-express-wrap .fancybox-inner{
  min-width: 618px;
}
#calls-express #calls-express-container {
  
min-height: 337px;
  position: relative;
  background: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 618px){
  .calls-express-wrap .fancybox-inner{
    width: auto !important;
    min-width:150px;
  }
}
#calls-express #calls-express-container h3 {
  color: #5A617A;
  font-weight: 500;
  font-size: 41px;
  font-family: 'HelveticaNeueCyr-Medium';
  margin: 36px 0 0 30px;
  line-height: 1;
}
#calls-express #calls-express-container h3 span {
  display: block;
  font-size: 18px;
  word-spacing: normal;
}
#calls-express #calls-express-container .calls-express-navigation {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 16px;
  bottom: 14px;
  list-style: none;
}
#calls-express-container .calls-express-navigation li {
  float: left;
  margin-right: 5px;
  color: #5A617A;
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  height: 22px;
}
#calls-express-container .calls-express-navigation li a {
  text-decoration: none;
  outline: 0;
  width: 22px;
  display: block;
  height: 22px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
#calls-express-container .calls-express-navigation li a:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#calls-express-container .calls-express-navigation .help {
  background: url("images/help.png");
}
#calls-express-container .calls-express-navigation .operator {
  background: url("images/operator.png");
}
#calls-express-container .row {
  /*max-width: 546px;*/
  margin: auto;
  margin-top: 29px;
  padding: 0;
  float: none;
  padding: 0px 30px;
  overflow: auto;

}
#calls-express-container .row input[type="text"] {
  background-color: #F9F9F9;
  border: 1px solid #BEC3D4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #5A617A;
  font-family: 'HelveticaNeueCyr-Light';
  width: 100%;
  *width: 500px;
  outline: 0;
  padding: 17px 14px;
  font-size: 27px !important;
  text-align: center;
  font-weight: normal;
}
#calls-express-container .calls-me {
  text-align: center;
}
#calls-express-container .calls-me #calls-me-btn {
  text-decoration: none;
  outline: 0;
  height: 34px;
  line-height: 34px;
  background-image: none;
  left: auto;
  top:auto;
  bottom: auto;
  right: auto;
  width: 161px;

  background-color: #5A617A;
  border: 1px solid #5A617A;
  text-transform: none !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  color: #F9F9F9;
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 18px !important;
  display: inline-block;
  margin-top: 33px;
  padding: 0 20px !important;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  

}
#calls-express-container .calls-me #calls-me-btn:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#calls-express-container .phon {
  background: url("images/phon.png") no-repeat;
  width: 105px;
  height: 107px;
  display: block;
  position: absolute;
  top: -54px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 101;
  *left: 50%;
  *margin: -50px 0 0 -50px;
}
.calls-express-wrap .fancybox-skin {
  padding: 0!important;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.49);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.calls-express-wrap .fancybox-close {
  background: url("images/close_modal.png") no-repeat;
  width: 22px;
  height: 22px;
  top: 10px;
  right: 11px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.calls-express-wrap .fancybox-close:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.calls-express-wrap .fancybox-inner {
  overflow: visible!important;
}
#calls-express-container #calls-express-timer {
  position: relative;
  margin: auto;
  width: 86px;
  height: 90px;
  background: #fff;
  overflow: hidden;
  display: none;
  margin-top: 25px;
  font-style:normal;
  float:none;
  paddding:0;
}
#calls-express-container #calls-express-timer h2 {
  text-align: center;
  position: absolute;
  line-height: 72px;
  color: #5a617a;
  font-size: 26px;
  font-family: 'HelveticaNeueCyr-Medium';
  font-weight: normal;
  margin: 0;
  z-index: 10;
  background: #fff;
  width: 72px;
  height: 72px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 7px;
  left: 6px;
}
#calls-express-container #calls-express-timer svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#calls-express-container #calls-express-timer .circle_animation {
  stroke-dasharray: 260;
  /* this value is the pixel circumference of the circle */

  stroke-dashoffset: 260;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition: all 1s linear;
}
#calls-express-container #timer-cont {
  position: relative;
  top: -36px;
  left: -39px;
  z-index: 5;
}

#calls-express FORM{
  background: transparent;
  float: none;
  width: auto;
  padding: 0px;
  border-radius: 0px;
  margin: 0px;
}

.calls-express-ie8 #calls-express-timer h2{
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-style: normal;
  background: url(images/circle.png) no-repeat center top;
  top: 5px;
}

.call_express-docall_button_right{
  box-sizing: content-box;
  position: fixed;
  top: 49%;
  right: 0;
  z-index: 1000;
  width: 110px;
  height: 110px;

  padding: 10px;
}

A.call_express-docall_modal_open{
  display: block;
}

A.call_express-docall_modal_open I{
  background-image: url(http://calls-express.com/call_assets/css/images/phon.png);
  width: 110px;
  height: 110px;
  display: block;
  background-repeat: no-repeat;
}
