@font-face {
	font-family:'HelveticaNeueCyr-Medium';
	src: url('fonts/HelveticaNeueCyr-Medium_gdi.eot');
	src: url('fonts/HelveticaNeueCyr-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueCyr-Medium_gdi.woff') format('woff'),
		url('fonts/HelveticaNeueCyr-Medium_gdi.ttf') format('truetype'),
		url('fonts/HelveticaNeueCyr-Medium_gdi.svg#HelveticaNeueCyr-Medium') format('svg');
	font-weight: 550;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'HelveticaNeueCyr-Light';
	src: url('fonts/HelveticaNeueCyr-Light_gdi.eot');
	src: url('fonts/HelveticaNeueCyr-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueCyr-Light_gdi.woff') format('woff'),
		url('fonts/HelveticaNeueCyr-Light_gdi.ttf') format('truetype'),
		url('fonts/HelveticaNeueCyr-Light_gdi.svg#HelveticaNeueCyr-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'HelveticaNeueCyr-Bold';
	src: url('fonts/HelveticaNeueCyr-Bold_gdi.eot');
	src: url('fonts/HelveticaNeueCyr-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueCyr-Bold_gdi.woff') format('woff'),
		url('fonts/HelveticaNeueCyr-Bold_gdi.ttf') format('truetype'),
		url('fonts/HelveticaNeueCyr-Bold_gdi.svg#HelveticaNeueCyr-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'HelveticaNeueCyr-Roman';
	src: url('fonts/HelveticaNeueCyr-Roman_gdi.eot');
	src: url('fonts/HelveticaNeueCyr-Roman_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueCyr-Roman_gdi.woff') format('woff'),
		url('fonts/HelveticaNeueCyr-Roman_gdi.ttf') format('truetype'),
		url('fonts/HelveticaNeueCyr-Roman_gdi.svg#HelveticaNeueCyr-Roman') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'HelveticaNeue-Regular';
	src: url('fonts/HelveticaNeue_gdi.eot');
	src: url('fonts/HelveticaNeue_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue_gdi.woff') format('woff'),
		url('fonts/HelveticaNeue_gdi.ttf') format('truetype'),
		url('fonts/HelveticaNeue_gdi.svg#HelveticaNeue-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: 'ALSRubl';
    src: url('fonts/ALSRubl.eot'); /* IE9 Compat Modes */
    src: url('fonts/ALSRubl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/ALSRubl.woff') format('woff'), /* Modern Browsers */
         url('fonts/ALSRubl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/ALSRubl.svg#ALSRubl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}