// -----------------------------------------
// Mixins
@import "mixins.less";
// -----------------------------------------
// import styles
@import "fonts.css";
@import "buttons.less";
//@import "icon.less";
//@import "titles.less";
//@import "animate.css";
//@import "jquery.fancybox.css";
//@import "jquery.fancybox-thumbs.css";
// ------------ PAGES ------------------
/*@import "catalog.less";
@import "project.less";
@import "furniture.less";
@import "contacts.less";
@import "text-page.less";*/
// -----------------------------------------
// Variables
// -----------------------------------------
// Fonts
@fontNormal:         	 'HelveticaNeueCyr-Roman';
@fontBold:           	 'HelveticaNeueCyr-Bold';
@fontMedium:         	 'HelveticaNeueCyr-Medium';
@fontLight:          	 'HelveticaNeueCyr-Light';
@fontRub:            	 'ALSRubl';

@baseFontFamily:        @fontNormal;
@baseFontSize:          14pt;
@baseLineHeight:        1.3;
@textColor:             #212121;

@whiteTextColor:				#fff; 

@input-color-placeholder: #c2c2c2;
// -----------------------------------------
// colors

@colorRed:						#D63233;

// -----------------------------------------
// root
@rootUrl:						"images/";
// -----------------------------------------
// helper classes

/*.bold {font-family: @fontBold}
.medium {font-family: @fontMedium}
.regular {font-family: @fontRegular}
.light {font-family: @fontLight}

.color-blue {color: @colorBlue}
.color-green {color: @colorGreen}
.color-gray {color: @grayLighten}*/

.f-left {float: left;}
.f-right {float: right;}

.main-container {
	.center();	
	max-width: 940px;
}

.hidden {display: none;}

.align-center {text-align: center;}

* {.box-sizing(border-box);}
// -----------------------------------------
body , html {height: 100%;}

body {
	margin: 0;
	padding: 0;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
	background: #fff;
	max-width: 2000px;
	.center();	
}
// ------------------------------------------

#main {
	min-height: 100%;
	min-width: 550px;
	overflow: hidden;
	display: block;
	position: relative;
}

//===============================================
// header
//===============================================
#header {
	min-height: 70px;
	width: 100%;
	background: #212121;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	min-width: 320px;

	@media(max-width:1280px) {
	text-align: center;

	.main-container {padding: 0;}
	}
}

.logo {
	text-decoration: none;
	display: inline-block;
	line-height: 43px;
	height: 43px;
	margin: 12px 0 0 16px;

	div {
		.square(43px);
		background: url("@{rootUrl}logo_icon.png") no-repeat;
		outline: 0;
		display: inline-block;
		vertical-align: middle;
	}

	span {
		color: #fff;
		font-size: 16pt;
		line-height: 43px;
		display: none;
	}
	

	@media(max-width:1280px) {
		display: inline-block;
		margin: 8px 0 0 0;

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.phone{
	width: 300px;
	display: inline-block;
	color: white;
	vertical-align: middle;
	line-height: 29px;
	i {
		font-size: 28pt;
		display: inline-block;
		vertical-align: top;
		line-height: 47px;
	}


	p {
		margin: 0;
		font-family: @fontBold;
		letter-spacing: -0.2px;
		position: relative;
	}


	.icon-phone_ico {
		.size(27px;45px);			
		background:  url("@{rootUrl}phone_ico.png") no-repeat;			
		margin: 0 13px 0 10px;
	}

	.small-phon {
		display: block;
		font-size: 11px;
		position: absolute;
		top: 22px;
		left: 100px;
		margin: auto;
	}
	// color:white;
	// display: inline-block;
	// font-size: 10px;
	// vertical-align: middle;
	// text-align: left;

	// .small{

	// }

	// .big{
	// 	font-size:17px;
	// 	color: @colorRed;
	// }

	@media(max-width:1200px) {
		display: none;
	}
}


.nav-menu {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 13px;


	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			float: left;
			border-right: 1px solid #575757;

			&:first-child {border-left: 1px solid #575757;}

			a {
				color: #fff;
				text-decoration: none;
				//.size(214px,70px);
				.size(auto, 70px);
				padding: 0 10px;
				font-size: 10pt;
				text-align: center;
				.transition(0.3s all ease);
				outline: 0;
				letter-spacing: 0.5px;
				display: block;
				line-height: 70px;
				font-family: @fontLight;

				&:hover {background: #c73535;}

				i {
					padding: 0 5px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 12px;
				}

				.icon-comments {
					.size(30px;34px);
					background: url("@{rootUrl}comments.png") no-repeat;
					padding: 0 11px 0 3px;
				}

				.icon-mail {
					.size(30px;28px);
					background: url("@{rootUrl}mail.png") no-repeat;
					padding: 0 9px 0 7px;
				}

				.icon-price {
					.size(30px;23px);
					background: url("@{rootUrl}price.png") no-repeat;
					
				}
			}


		}
	}

	@media(max-width:1200px) {
		padding: 15px 0 0 0;
		width: 100%;
		margin: 0;

		ul {text-align: center;}

		ul li {
			width: 28%;
			float: none;
			display: inline-block;
			vertical-align: top;
			border-right: 1px solid #575757;
			padding-right: 5px;
			padding-left: 5px;
			&:first-child {border-left: 1px solid #575757;padding-left:10px;}


			a {
				display: block;
				width: 100%;
				margin-left: -3px;
			}
		}
	}

	@media(max-width:992px) {
		ul li a {
			font-size: 10pt;
			width: 100%;
			height: 50px;
			line-height: 50px;
		}
	}

	@media(max-width:768px) {
	
		ul li {width: 32%;}
		ul li a {
			font-size: 8pt;

			i {
			font-size: 18pt!important;
			padding: 0!important;
			}
		}
	}

	@media(max-width:600px) {
	
		ul li {
			width: 28%;
			float: left;			
		}

		.mail {width: 44%;}


		ul li a {
			font-size: 6pt;
			height: 100%;

			i {
				display: block;
				.center();
				font-size: 11pt!important;
				padding: 0!important;
				height: 34px!important;
			}
		}
	}
}
//===============================================
// first page
//===============================================

#first-page {
	width:100%;
	height: 100vh;
	padding-top: 70px;
	min-height: 800px;
	background: url("@{rootUrl}BG_pattern_head.png");
	z-index: 2;
	
	.wrap {
		.square(100%);
		background-image: radial-gradient(50% 150%, rgba(0,0,0,0.00) 50%, rgba(0,0,0,0.40) 100%);
	}
	.main-container {
		height: 100%;
		position: relative;
	}

	@media(max-width:1200px) {padding-top: 136px;}

	@media(max-width:992px) {padding-top: 116px;}

	@media(max-width:370px) {

	}

	@media(max-height: 760px){
		height: auto;
	}

	@media(max-height:800px) {
		

		.ball-wrap{
			width: 290px;
		    height: 350px;
		    margin: 10px 0 0 72px;


		    @media(max-width:500px) {margin-left: 5px;}

		    .ball {
		    	width: 100%;
		    	background-size: contain;
		    	padding: 80px 40px;

		    	.reg-text {font-size: 17px;}
		    	.big-title {font-size: 76px;}
		    	.for {font-size: 12px;}
		    	.terms {font-size: 12px;}
		    }	    
		}

		.cloud_1{
			display: none;
		}

		.logo-color {
			width: 400px;
		    background-size: contain;
		    margin-left: 20px;
		}

		.rocketman {			
			background-size: contain;
		}
	}

	@media(max-height:600px) {
		padding-top: 150px;
		height: 100%;

			.ball-wrap {
				width: 205px;
				height: 345px;

				.ball {
					padding: 38px 10px;

					.reg-text {font-size: 10px;}
			    	.big-title {font-size: 60px;}
			    	.for {font-size: 12px;}
			    	.terms {font-size: 9px;}
				}
			}

			.left-fixed {
				width: 100%;
				z-index: 20;

				@media(max-width:500px) {width: 100%;}
			}

			.registration {
				margin: 5px 0 0 11px;
		    	padding: 10px 12px;
				width: 85%;
				background-size: contain;

				.gray-text {font-size: 17px}
				.red-text {font-size: 22px}

				@media(max-width:370px) {
					.gray-text {font-size: 13px}
					.red-text {font-size: 20px}
				}
			}

			.logo-color {
				width: 300px;
		    background-size: contain;
		    margin-left: 20px;

		    @media(max-width:370px) {width: 100%}
			}

			.small-stars {top: 35px;}

			.line {
				width: 100%;
				margin-left: 5px;
				background-size: contain;
			}

			.rocketman {top: 155px;}

			.mouse {z-index: 30;}
	}

	@media (max-width: 450px) {

		.ball-wrap {
			width: 250px;
			height: 345px;

			.ball {
		    	.big-title {font-size: 41px;}
		    	.for {
					font-size: 10px;
					text-align: center;
					margin-top: 2px;
		    	}
		    	.terms {font-size: 8px;}
			}
		}
	}
}

.left-fixed {
	display: block;
	float: left;
	position: relative;
	z-index: 10;
}

.registration {
	display: block;
	background: url("@{rootUrl}cloud.png") no-repeat;
	padding: 30px 32px;
	margin: 58px 0 0 31px;

	.gray-text {
		display: block;
		color: #363636;
		font-size: 27px;
		padding: 9px 29px 0px 28px;
		letter-spacing: -0.4px;
		line-height: 1;
	}

	.red-text {
		display: block;
		color: #9b1514;
		font-size: 36px;
		font-family:'HelveticaNeueCyr-Bold';
		letter-spacing: -0.4px;
		line-height: 1.1;
		padding: 0 0 55px 0;
	}
}

.logo-color {
	.size(309px;60px);
	background: url("@{rootUrl}logo.png") no-repeat;
	margin: 15px 0 0 115px;
}

.line {
	.size(400px;3px);
	background: url("@{rootUrl}logo_line.png") no-repeat;
	margin: 49px 0 0 70px
}

.ball-wrap {
	.size(376px;468px);
	margin: 47px 0 0 72px;
	position: relative;
}

.ball {
	.size(376px;468px);
	background: url("@{rootUrl}ball.png") no-repeat;
	padding: 80px 60px;	
	position: absolute;
	bottom: -113px;

	.reg-text,
	.big-title,
	.terms,
	.for {
		display: block;
		color: #fff;
	}

	.reg-text{		
		font-size: 22px;
		font-family: 'HelveticaNeueCyr-Medium';
		text-align: center;
	}

	.big-title {
		font-size: 106px;
		font-family: 'HelveticaNeueCyr-Bold';
		text-align: center;
		line-height: 1;
	}

	.for,
	.terms {
		font-size: 17px;
		font-family: 'HelveticaNeueCyr-Bold';
		line-height: 1.2;
		/* text-align: center; */
		margin-top: -8px;
		margin-bottom: 11px;
		padding: 0 3px;

		.white-bg-text {
			color: #d63233;
			background: #fff;
			padding: 2px 17px 1px;
			.border-radius(15px);
			letter-spacing: 0.4px;

			&:first-child {margin-right: 6px;}
			&:last-child {
				margin-left: 3px;
			}
		}
	}
}


.small-stars {
	.size(81px;85px);
	background: url("@{rootUrl}stars.png") no-repeat;
	position: absolute;
	top: 26px;
	right: 16px;
}

.cloud_3 {
	.size(188px;131px);
	background: url("@{rootUrl}cloud_3.png") no-repeat;
	position: absolute;
	top: 249px;
	left: 475px;

	@media(max-width:700px){
		top: 369px;
    left: 0px;
	}    
}

.cloud_1 {
	.size(122px;94px);
	background: url("@{rootUrl}cloud_1.png") no-repeat;
	position: absolute;
	top: 402px;
	left: 211px;
	z-index: 10;
}

.cloud_2 {
	.size(134px;96px);
	background: url("@{rootUrl}cloud_2.png") no-repeat;
	position: absolute;
	bottom: 235px;
	right: 13px;
}

.rocketman {
	.size(386px;469px);
	background: url("@{rootUrl}rocketman.png") no-repeat;
	position: absolute;
	z-index: 10;
    top: 50%;
    margin-top: -235px;
	right: 14px;

	@media(max-width:715px) {
		width: 300px;
	    top: 50%;
	}

	@media(max-width:550px) {width: 250px;}

	@media(max-width:600px) {display: none}
}

.mouse {
	.size(25px;54px);
	background: url("@{rootUrl}mouse_black.png") no-repeat;
	position: absolute;
	z-index: 10;
	bottom: 15px;
	left: 50%;
	margin-left: -12.5px;

	@media(max-width: 1200px ){
		display: none;
	}
}

//===============================================
// SPB page
//===============================================

#spb {
	height: 100vh;
	width: 100%;
	background: url("@{rootUrl}SPB.jpg") center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 83px 0 97px 0;
	min-height: 800px;
	position: relative;

	@media(max-width:1200px) {padding-top: 150px;height: auto;}

	@media(max-width:600px){
		height: auto;

		.spb-logo,
		.deco {
			width: 100%;
    	background-position: center;

    	@media(max-width:400px) {background-size: contain;}
		}		
	}
}

.spb-logo {
	display: block;
	.size(394px;222px);
	.center();
	background: url("@{rootUrl}name+text.png") no-repeat;
}

.deco {
	display: block;
	.size(398px;36px);
	margin-top: 49px;
	margin-bottom: 51px;
	.center();
	background: url("@{rootUrl}deco.png") no-repeat;
}

.spb-list {
	padding: 0;
	margin: 0 auto;

	li {
		display: inline-block;
		vertical-align: top;
		list-style: none;
		margin: 0;
		color: #fff;
		width: 192px;
		margin: 0px 6px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0;
    padding-left: 3px;
    padding-bottom: 70px;

    &:last-child {padding-left: 0;}

		.circle-small {
			display: block;
			margin-top: 20px;
			margin-bottom: 17px;
			.square(8px);
			.border-radius(50%);
			background:#fff;
			.center();
		}

		.icon-diploma {
			display: block;
			.size(126px;124px);
			margin: 0 auto 0 31px;
			background: url("@{rootUrl}man_diploma.png") no-repeat;

			@media(max-width:880px) {.center ();}
		}

		.icon-money {
			display: block;
			.size(117px;124px);
			margin: 0 auto 0 35px;
			background: url("@{rootUrl}money.png") no-repeat;

			@media(max-width:880px) {.center ();}
		}

		.icon-web {
			display: block;
			.size(118px;124px);
			margin: 0 auto 0 34px;
			background: url("@{rootUrl}globe.png") no-repeat;

			@media(max-width:880px) {.center ();}
		}

		.icon-22min {
			display: block;
			.size(117px;124px);
			margin: 0 auto 0 36px;
			background: url("@{rootUrl}8.png") no-repeat;

			@media(max-width:880px) {.center ();}
		}

		@media(max-width:880px) {width: 40%;}

		@media(max-width:420px) {width: 100%;}
	}
}

.mouse-circle {
	.square(84px);
	background: url("@{rootUrl}oval + mouse.png") no-repeat;
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -42px;

	@media(max-width: 1200px ){
		display: none;
	}
}


//===============================================
// Advantages
//===============================================

#advantages {
	padding: 115px 0 33px 0;
	text-align: center;
}

.adv-title {
	margin: 0;
	padding: 0;
	font-family: 'HelveticaNeueCyr-Bold';;
	font-size: 24px;
	color: #212121;
	letter-spacing: -0.3px;
}

.list-wrap {overflow: hidden;}

.advantage-list {
	padding: 50px 17px 0 ;
	margin: 0 -2px;

	li {
		float: left;
		list-style: none;
		width: 33.3%;
		margin-bottom: 39px;
		padding: 0 2px;

		.img-block {
			width: 100%;
			height: 84px;
			margin-bottom: 19px;			

			span {.center();}
		}

		.description {
			font-size: 14px;
			text-align: center;
			letter-spacing: 0px;
		}

		@media (max-width:700px) {width: 50%;}
	}
}

.icon-map {
	display: block;
	.size(82px;84px;);
	background: url("@{rootUrl}map.png");
}
.year {
	display: block;
	.size(79px;83px);
	background: url("@{rootUrl}2009.png");
}
.happy {
	display: block;
	.square(83px);
	background: url("@{rootUrl}happy.png");
}
.stacked {
	display: block;
	.size(74px;79px);
	background: url("@{rootUrl}stacked.png");
}
.back {
	display: block;
	.square(78px);
	background: url("@{rootUrl}back.png");
}
.Renessans {
	display: block;
	.square(77px);
	background: url("@{rootUrl}Renessans.png");
}
//===============================================
// Reviews 
//===============================================

#reviews {
	display: block;
	background: url("@{rootUrl}review_BG.png") center no-repeat;
	background-size: auto 100% ;
	padding: 32px 0 1px 0;
	margin-bottom: 73px;
}

.rew-title {
	margin: 0;
	padding: 0;
	font-family: 'HelveticaNeueCyr-Bold';;
	font-size: 24px;
	color: #fff;
	letter-spacing:0px;
	color: #fff;
	text-align: center;
}

.slider-wrap {
  padding: 41px 23px 0;
  margin: 0;

  @media (max-width: 1200px) {
  	padding: 0 35px;
  }
}

.slider {
  .item {
    padding:0 29px;
  }

  .img-block {
    position: relative;
    text-align: center;
    background: url("@{rootUrl}slider_scratch_bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;

    .wrapper{
	  	max-height: 314px;
	  	overflow: hidden;
	}
  } 

  .caption {
    margin: 6px 0 0 0;
    color: #fff;
    font-size: 10pt;
    text-align: center;
  }

  .hover-block {
    background: url("@{rootUrl}bg-hover.png");
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;		
    text-align: center;
    .opacity(0);
    .transition(0.3s all ease);

    &:hover {
    	.opacity(1);
    	.icozoom {.opacity(1);}
    }

    .icozoom {
    	position: absolute;
    	display: block;
    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
    	margin: auto;
    	background: url("@{rootUrl}zoom.png") no-repeat;
    	width: 61px;
    	height: 61px;
    	z-index: 1;
    	.opacity(0);

    	&:hover {i {.opacity(1);}}

    	i {
	    	position: absolute;
	    	display: block;
	    	content: "";	    	
	    	background: url("@{rootUrl}zoom_hoover.png") no-repeat;
	    	width: 70px;
			height: 70px;
		    .opacity(0);
		    .transition(0.3s all ease);	
		    z-index: 2;
    	}
    }

    @media (max-width: 800px) {
    	left: 50px;
    	right: 50px;
    }
  }

  .owl-buttons {
    div {
      position: absolute;
      top: 48%;
      margin-top: -18px;
      .opacity(0.6);
      .transition(0.3s all ease);
      width: 31px;
      height: 31px;

      &:hover {.opacity(1);}

      &.owl-prev {
        left: -9px;
        background: url("@{rootUrl}left-arrow_on.png") no-repeat;
      }

      &.owl-next {
        right: -8px;
        background: url("@{rootUrl}right-arrow_on.png") no-repeat;
      }
    }
  }

  @media (max-width: 1200px) {
    .item {
      width: auto;
      padding: 0 10px;
      text-align: center;
    }

    .img-block {
    	padding: 13px;

    	.hover-block {
    		top:13px;
    		left: 23px;
    		bottom: 13px;
    		right: 23px;
    	}
    }
    .owl-buttons div.owl-next {right: -32px;}
    .owl-buttons div.owl-prev {left: -32px;}
  }
}

.more-reviews {
	margin: 40px 0 47px 0;

	.more-title {
    font-size: 16px;
    margin: 0 0 3px 0;
    color: #fff;
    text-align: center;
    letter-spacing: 0.3px;
	}

	p {
		margin: 0;
    font-size: 11pt;
    text-align: center;
    color: #fff;
		letter-spacing: -0.3px;
	}
}

.link-list {
  margin: 4px 0 53px 0;
  padding: 12px 0px 12px 14px;
  width: 662px;
	list-style: none;
	.center();
	background: #fff;
	.border-radius(32px);




	li {
		display: inline-block;
		vertical-align: top;
	    margin: 0 10px 5px 13px;
	    letter-spacing: -0.2px;

		a {
			outline: 0;
			color: #bc1e1d;
			.transition(0.3s all ease);
			font-family: @fontBold;
			text-decoration: none;
			border-bottom: 1px solid #bc1e1d;

			&:hover {
				color: #ff5253;
				border-bottom: 1px solid #ff5253;
			}
		}
	}

	@media (max-width: 700px) {
		text-align: center;
		width: 550px;

		a {font-size: 10pt;}
	}
	@media(max-width:550px){width: 100%}
}


//===============================================
// STEPS 
//===============================================

#steps {
	width: 100%;
	min-height: 796px;
	background:  url("@{rootUrl}white_BG.jpg") no-repeat;
	background-position: top left;
	background-size: cover;
	padding:80px 0 42px 0;
}

.steps-title {
	color: #fff;		
	font-size: 23px;
	margin: 0;
	letter-spacing: 1px;
	text-align: center;
}

.steps-list {
	width: 590px;
	.center();
	position: relative;
	padding: 38px 16px;

	.plus {
		display: block;
		.square(32px);
		background: url("@{rootUrl}+.png") no-repeat;
		position: absolute;
		left: 50%;
		top: 92px;
		margin-left: -17px;

		@media(max-width:600px) {top: 283px}
	}

	.arrow-down {
		display: block;
		.size(38px;22px);
		background: url("@{rootUrl}arrow.png") no-repeat;
		position: absolute;
    top: 283px;
    left: 50%;
    margin-left: -20px;

    @media(max-width:600px) {top: 555px;}
	}

	.inline-item {
		float: left;
		width: 246px;
		margin: 11px 0 78px 21px;
		text-align: center;

		@media(max-width:600px) {
			width: 100%;
			margin-left: 0;
		}

		.min22 {
			display: inline-block;
			.size(117px;124px);
			background: url("@{rootUrl}22.png") no-repeat;
		}

		.min8 {
			display: inline-block;
			.size(117px;124px);
			background: url("@{rootUrl}8.png") no-repeat;
		}

		.days6 {
			display: inline-block;
			.size(114px;124px);
			background: url("@{rootUrl}3.png") no-repeat;
		}

		.description {
			color: #fff;
			font-size: 20px;
	    padding: 16px 0 0 0;
    	line-height: 1.2;
	}		
	}

	.item {
		display: block;
		margin: 0;
		clear: both;
		padding: 0 112px;	

		@media(max-width:600px)  {padding: 0;}	

		.full-term {
			display: block;
			.size(332px;121px);			
			background: url("@{rootUrl}38.png") no-repeat;
			position: relative;
			margin-bottom: 94px;	

			@media(max-width:600px) {.center();}		
		}

		.wow {
			display: block;
			.size(105px;104px);			
			background: url("@{rootUrl}wow.png") no-repeat;
			position: absolute;
	    right: -27px;
	    bottom: -57px;

	    @media(max-width:600px) {
	    	bottom: -68px;
    		left: 0;
	    }	
		}

		.white-logo {
			display: block;
			.size(241px;48px);
			.center();
			background: url("@{rootUrl}white_logo.png") no-repeat;
	    margin: 0 38px;
		}
	}

	@media(max-width:600px) {width: 100%}
}
//===============================================
// required
//===============================================

#required {
	padding: 80px 0 53px 0;
}

.req-title {
	.size(374px;80px);
	.center();
	background: url("@{rootUrl}cloud_fill.png") no-repeat;
	padding: 9px 27px;	
	font-size: 24px;
	font-family: 'HelveticaNeueCyr-Bold';
	color: #fff;
 	letter-spacing: -0.8px;
}

.required-list {
	width: 100%;
	padding:0px 75px 0px 82px;
	margin: 0;

	@media (max-width:400px) {padding: 0;}

	.item {
		width: 100%;
		margin-bottom: 28px;


		.img-block {	
			.size(158px;140px);		
			display: inline-block;
			vertical-align: middle;
			margin: 0;			
		}

		.passport {background: url("@{rootUrl}pass.png") no-repeat;}
		.inn {background: url("@{rootUrl}inn.png") no-repeat;}
		.OOOname {
			background: url("@{rootUrl}name_ooo.png") no-repeat;
			margin: 0 10px 0 -10px;
		}

		.circle-blue,
		.circle-green,
		.circle-gray {
			display: inline-block;
			.square(21px);
			vertical-align: middle;
			margin: -3px 17px 0 -4px;
		}

		.circle-blue {background: url("@{rootUrl}oval_blue.png") no-repeat;}
		.circle-green {background: url("@{rootUrl}oval_green.png") no-repeat;}
		.circle-gray {background: url("@{rootUrl}oval_grey.png") no-repeat;}

		.text-block {
			display: inline-block;
			vertical-align: middle;
			margin: 0;	
			.border-radius(80px);
			height: 166px;
			padding: 16px 35px 17px 47px;
			width: 73%;
			line-height: 1.2;
    	font-size: 14px;

			h4 {
				margin: 0;
				font-size: 20px;
				letter-spacing: .6px;
		    	padding-bottom: 11px;
			}
		}

		.blue-block {border: 2px solid #2B9AC7;}

		.green-block {
			border: 2px solid #6CCD14;
			padding: 20px 35px 17px 47px;
		}

		.gray-block {
			border: 2px solid #979797;
			padding: 19px 35px 17px 47px;
		}

		@media(max-width:958px) {
			.circle-blue,
			.circle-green,
			.circle-gray,
			.img-block,
			.text-block {
				display: block;
				margin: 10px 0;
				.center();
			}

			.img-block {background-position: center;}
			.text-block {
				width: 100%;
				height: 100%;
			}
		}
	}
}

//===============================================
// Prices
//===============================================
#prices {
	width: 100%;
	padding: 80px 0 31px 0;
	background:  url("@{rootUrl}price_bg.jpg") no-repeat;
	background-position:fixed bottom left;
	background-size: cover; 
}

.table-wrap {
	.size(823px;561px);
	.center();
	background: url("@{rootUrl}table_bg.png") no-repeat;
	background-size: cover;
	padding: 63px 80px 37px 75px;
	display: table;
	

	@media(max-width:992px) {
		width:600px;
		padding: 63px 30px 37px 25px;
	}

	@media(max-width:630px) {
		width: 100%;
		height: auto;
		background-size: cover;
		padding: 63px 10px 37px 10px;
	}

	.wrap {border-bottom: 1px solid #c6c6c6;}
}

.table-header,
.table-bottom {
	padding: 0 0 40px 0;
	margin: 0;

	li {
		list-style: none;
		display: inline-block;
		width: 131px;
		font-size: 21px;
	  	font-family: 'HelveticaNeueCyr-Bold';
	    padding: 31px 0 0 0;
	    letter-spacing: -0.5px;
	    position: relative;
	    text-align: center;    

		&:first-child {
	  		width: 356px;
		    height: 60px;		    
		    font-size: 24px;
		    padding: 0;
		    font-family: 'HelveticaNeueCyr-Bold';
		    line-height: 1.2;
		    letter-spacing: 0;
		    text-align: left;
		    color: #212121;

		    @media(max-width:992px) {width: 250px;}

		    @media(max-width:600px) {
		    	width: 150px;
		    	font-size: 18px;
		    }

		    &:after {display: none;}
		}

		&:first-child +* {
		    text-align: center;
	    	//padding: 0 13px 0 0;
	    	margin-right: 36px;

	    	@media(max-width:992px) {
	    		width: 100px;
	    		padding: 0;
	    	}

	    	@media(max-width: 600){
	    		margin-right: 21px;
	    	}

	    	//&:after {margin-left: 17px;}
    	}

		//&:last-child {margin-left: 16px;}

		&:after {
			content: "";
			display: block;
			position: absolute;
			.size(12px;6px);
			background: url("@{rootUrl}triangle.png") no-repeat;
			left: 50%;
			margin-left: -6px;
			bottom: -18px;
		}
	}
}

.table-row {
	display: table-row;
	padding: 0;
	margin: 0;	

	li {
		display: inline-block;
		display: table-cell;
		float: left;
		list-style: none;
		width: 131px;;
		padding: 23px 0 27px 0;
		text-align: center;
		position: relative;
		text-align: center;


		&:first-child {
			width: 369px;
		    font-size: 14px;
	    	padding-left: 3px;
	    	text-align: left;

	    	@media(max-width:992px) {width: 250px;}

		    @media(max-width:600px) {
		    	width: 171px;
		    	font-size: 18px;
		    }
		}

		&:first-child +* {
			text-align: center;
    		padding-right: 23px;
			margin-right: 17px;
			.price-item {left: 87%;}

			@media(max-width:992px) {
	    		width: 100px;
	    		margin: 0 0 0 10px;
	    	}
		}

		&:last-child {margin-left: 19px;}

		&:hover {.price-item {display: block;}}
	}

	.small-text{
	    display: inline-block;
	    vertical-align: middle;
	    font-size: 13px;

	}
}

.last-row {border-bottom: 1px solid transparent;}

.icon-check {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	.size(34px;25px);
	background: url("@{rootUrl}yes.png") no-repeat;
}

.icon-no {
	display: inline-block;
	vertical-align: middle;
	.size(25px;25px);
	background: url("@{rootUrl}no.png") no-repeat;
	margin:  0px 5px 0px 0;
}

.price-item {
	width: 100%;
	height: 25px;
	display: none;
	vertical-align: middle;
	font-size: 21px;
	margin-right: -22px;

	.smaller-text {
		display: inline-block;
	    vertical-align: middle;
	    text-align: center;
	    font-size: 13px;
	    margin-top: -20px;
	}
}

.table-bottom {
	padding: 0;

	li {
		font-size: 23px;
		margin-top: -29px;
		padding-right: 0!important;
		&:first-child {height: 0;}
		&:after {display: none}
	}
}

.rub {
    font-family: 'ALSRubl';
}

.atention {
	width: 100%;
	height: auto;
	padding: 49px 0;
	position: relative;

	.ribbons {		
		.size(884px;405px);
		background: url("@{rootUrl}ribbons.png") no-repeat;
		position: absolute;
		z-index: 10;
   	 	top: 26px;
    	left: 50%;
    	margin-left: -450px;

    @media(max-width:880px){
    	width: 100%;
    	background-size: 100% 100%;
    	margin-left: -50%;
    }
	}

	.stars {
		.size(676px;337px);
		background: url("@{rootUrl}stars_big.png") no-repeat;
		position: absolute;
		z-index: 9;
    	top: 3px;
    	left: 50%;
    	margin-left: -364px;

    @media(max-width:880px){
    	width: 100%;
    	background-size: 100% 100%;
    	margin-left: -50%;
    }
	}

	.red-title {
		text-align: center;
		font-size: 24px;
		color: #d73133;
		margin: 0;
		padding-bottom: 17px;
	}

	.sub-title {
		text-align: center;
		font-size: 18px;
		color: #000;
		margin: 0;
	}
}
.timer {
	margin: 27px 0 0 0;
	text-align: center;

	p {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		line-height: 124px;
		font-family: @fontMedium;
	}

	.counter {
		display: inline-block;
		vertical-align: top;
		position: relative;

		.timer-text {
			position: absolute;
			top: 0;

			&.left {right: 103%;}
			&.right {left: 80%;width: 126px;}
		}

		& SPAN:after {
			content: "";
			display: block;
			position: absolute;
			.size(100%;23px);
			background: url("@{rootUrl}ovalshadow.png") no-repeat;			
			bottom: -22px;
			background-size: 100% 100%;
		}
	}

	.timer-item {
		width: 84px;
		height: 119px;
		text-align: center;
		color: #fff;
		background: url("@{rootUrl}counter.png") no-repeat;
		font-size: 52pt;
		font-family: @fontBold;
	}

	@media (max-width: 600px) {
		p {
			font-size: 7pt;
			line-height: 70px;
		}

		.timer-item {
			background-size: 100%;
			width: 50px;
    	height: 70px;
    	font-size: 35pt;
		}
	}
}
//===============================================
// Services
//===============================================

#services {
	padding: 94px 0 88px 0;
	

	.service-title {
		text-align: center;
    	font-size: 24px;
		font-family: 'HelveticaNeueCyr-Bold';
		color: #212121;
    	margin: 0;
	}

	.wrap {
		width: 100%;		
		padding:0 0 0 59px;

		.inner-wrap {overflow: hidden;}

		@media(max-width:450px) {padding: 0}
	}
}

#withUs{

	background: url("@{rootUrl}users_bg@2x.png") no-repeat;
	background-size: 100% 100%;
	background-position: top;
	margin-bottom: 94px;

	.service-title {
		text-align: center;
    	font-size: 24px;
		font-family: 'HelveticaNeueCyr-Bold';
		color: #212121;
    	margin: 0;
	}

	.wrap {
		width: 100%;		
		padding:0 0 0 59px;

		.inner-wrap {overflow: hidden;}

		@media(max-width:450px) {padding: 0}
	}
}

.service-list {
	margin: 0 -25px;
	padding: 25px 0 94px 0;

	@media (max-width:950px) { margin: 0;}	

	li {
		float: left;
		list-style: none;
		padding: 0;
		width: 411px;
		margin: 25px;

		@media (max-width:950px) {
			width: 50%;
			margin: 25px 0;
		}

		.img-block,
		.description-blue,
		.description-red {
			display: inline-block;
			vertical-align: middle;

			a {
				display: block;
				text-decoration: underline;
				color: inherit;
				font-size: 14px;
		    	margin-top: -4px;
			}

			p {
				color:#000;
				font-size: 14px;
				margin: 0 0 0 0;
			}

			.cost {
				display: block;
				font-size: 22px;
				font-family: 'HelveticaNeueCyr-Bold';
				margin-top: 5px;
			}

			@media(max-width: 850px){
				display: block;
			}
		}

		@media(max-width: 850px){
			.img-block{
				margin:auto;
			}
			.description-blue, .description-red{
				margin: auto !important;
			}
			P, SPAN{text-align: center; width: 100%;margin: 0;}
		}

		.description-blue {
			color: #375382;
			margin-left: 13px;
			max-width: 230px
		}

		.description-red {
			color: #df4b4b;
			margin-left: 13px;
		}

		.img-block {
			.square(159px;);

			span {
				display: block;
				.center();
				.square(100%);
			}
		}
	}
}

.bank {background: url("@{rootUrl}bank.png") no-repeat;}
.point {background: url("@{rootUrl}point.png") no-repeat;}
.tie {background: url("@{rootUrl}tie.png") no-repeat;}
.stamp {background: url("@{rootUrl}stamp.png") no-repeat;}
.cloud_red {background: url("@{rootUrl}cloud_red.png") no-repeat;}
.rent {background: url("@{rootUrl}1c.png") no-repeat;}


.client-list {
	padding:	41px 100px 60px 100px;
	margin: 0;
	text-align: center;

	li {
		display: inline-block;
		vertical-align: middle;
		list-style: none;
		margin: 8px 9px;

		span {display: inline-block;}
	}

	@media (max-width:420px) {
		padding-left: 0;
		padding-right: 0;

		li {
			width: 100%;
			margin:8px 0;


			span {
				width: 100%;
				background-size: contain;
				background-position: center;
			}		
		}
	}
}

.Life {
	.size(190px;52px);
	background: url("@{rootUrl}Life.png") no-repeat;
}
.CCP {
	.size(168px;46px);
	background: url("@{rootUrl}CCP.png") no-repeat;
}
.galaktika {
	.size(253px;50px);
	background: url("@{rootUrl}galaktika.png") no-repeat;
}
.imperator {
	.size(174px;67px);
	background: url("@{rootUrl}imperator.png") no-repeat;
}
.petro {
	.size(236px;49px);
	background: url("@{rootUrl}petro.png") no-repeat;
}
.partners-list {
	padding: 60px 0;
	margin: 0;
	text-align: center;

	li {
		list-style: none;
		display: inline-block;
		vertical-align: top;
		
		.bank-item {
			display: block;
			.size(212px;296px);
			border: 1px solid #aeaeae;
			margin: 0;

			img {.square(100%);}
		}

		.caption {
	    margin: 0;
	    padding: 10px 0 0 0;
    	font-size: 14px;
      font-family: 'HelveticaNeueCyr-Bold';
		}

		@media(max-width:882px) {
			width: 290px;
			text-align: center;

			.bank-item {display: inline-block;}
		}
	}
}

//===============================================
// order
//===============================================

#order {
	padding: 0 0 139px 0;

	.main-container {
		padding: 0 30px;
	}

	.wrap {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 393px;
	}
}

.clouds_under {
	display: block;
	position: absolute;
	z-index: 1;
	.size(924px;520px);
  top: -59px;
  left: -18px;
	background: url("@{rootUrl}clouds22.png") no-repeat;

	@media(max-width:992px) {
		background-size: 100%;
		width: 100%;
	}

	@media(max-width:770px) {z-index: 1}
}

.clouds_above_big {
	display: block;
	position: absolute;
	z-index: 3;
	.size(187px;131px);
	top: -50px;
	left: -42px;
	transition:1s all;
	background: url("@{rootUrl}clouds1(top).png") no-repeat;

	


	@media(max-width:600px) {z-index: 1}
}

.movingWrap{
	position: absolute;
	width: 100%;
	height: 100%;

	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
	        transition: all 1s;
	&.topLeft{
		margin-top:-10px;	
		margin-left:-10px;
	}

	&.topRight{
		margin-top:10px;	
		margin-left:10px;
	}

	&.bottomLeft{
		margin-top:10px;	
		margin-left:10px;
	}

	&.bottomRight{
		margin-top:10px;	
		margin-left:10px;
	}
}

.clouds_above_small {
	display: block;
	position: absolute;
	z-index: 3;
	.size(115px;84px);
	bottom: -55px;
	left: 50%;
	
	margin-left: -57px;
	background: url("@{rootUrl}clouds2(top).png") no-repeat;

	@media(max-width:770px) {
		bottom: -134px;
		margin: 0;
	}

	@media(max-width:600px) {z-index: 1}
}

.rocket {
	display: block;
	position: absolute;
	z-index: 3;
	.size(181px;170px);
	top: -48px;
	right: -14px;
	background: url("@{rootUrl}rocket.png") no-repeat;

	@media(max-width:992px) {
		background-size: 100%;
		right: 0;
	}
	@media(max-width:770px) {zoom:0.8	}

	@media(max-width:600px) {z-index: 1}
}

.order-form {
	position: absolute;
	z-index: 2;
	width: 100%;
	box-shadow: 0 0 20px fade(#000, 50%);
	.border-radius(20px);
	padding: 80px 50px 80px 51px;
	background: #F6F6F6;

	.order-title {
		text-align: center;
		font-size: 24px;
		font-family: 'HelveticaNeueCyr-Bold';
		color: #212121;
		margin: 0;
		clear: both;
		padding-bottom: 41px;
	}

	.list-title {
		font-size: 15px;
    	font-family: 'HelveticaNeueCyr-Bold';
		letter-spacing: -0.6px;
	}

	p {
		font-size: 14px;
		color: #000;		
		letter-spacing: -0.2px;
		line-height: 1;
    	padding: 9px 0 0 0;
    	margin: 0;
	}

	.mail {padding: 24px 0 10px 0;}

	.f-right {
		text-align: left;
		width: 481px;

		@media(max-width:992px) {width: 350px;}	

		@media(max-width:770px) {
			float: none;
			clear: both;
			width: 481px;
			padding-top: 30px;
		}

		@media(max-width:600px) {width: 100%;}
	}	
}

.order-list {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		padding: 4px 0 0 19px;
		margin: 0 0;
		position: relative;
		line-height: 1;

		a {
			text-decoration: none;
			font-size: 14px;
			color: #000;			
    		letter-spacing: -0.2px;

			.transition(0.3s all ease);

			&:hover {
				color: #c02425;
				text-decoration: underline;
			}
		}

		&:before {
			content: "";
			display: block;
			.square(6px);
			.border-radius(50%);
			background: #ff5253;
			position: absolute;
			top: 50%;
			left: 8px;
		}
	}
}

.input-wrap {
	width: 100%;
	height: 50px;
	border: 1px solid #cecece;
	.border-radius(5px);
	.box-shadow(inset 0 0 10px fade(#000, 30%));
	position: relative;


	@media (max-width: 600px){
		INPUT,  A{
			position: relative;
			display: block;
		}
	}
}

.thx-btn {
	display: inline-block;
	position: absolute;
	z-index: 11;
	top: 2px;
	right: 2px;
	font-size: 14px;
	padding: 14px 32px 13px 32px;
	background: #d63233;
	color: #fff;
	text-decoration: none;
	.transition(0.3s all ease);
	.border-radius(5px);

	&:hover {background: #ff5253;}
}

input[type="text"], input[type="email"]{
	.square(100%);
	.border-radius(5px);
	outline: 0;
	border: none;
	color: #000;
	font-size: 13px;
	padding-left: 8px;	
}
//===============================================
// map
//===============================================

.map{
  height: 600px;
}
//===============================================
// footer
//===============================================


#footer {
	min-width: 550px;
	background: #212121;
/*	margin-top: -177px;*/
	padding-bottom: 30px;

	.main-container {position: relative;}

	.logo-footer {
		display: inline-block;
		.size(222px;43px);
		background: url("@{rootUrl}Logo_grey.png") no-repeat;
		outline: 0;
		float: left;
		margin: 43px 0 0 0;
	}

	.contacts {
		padding: 0 60px;
	}

	.footer-col {
		max-width: 216px;
		float: right;
		color: #fff;
		line-height: 47px;
		height: 47px;
		margin: 41px 0 0 41px;
		i {
			font-size: 28pt;
			display: inline-block;
			vertical-align: top;
			line-height: 47px;
		}

		.mob-vk {display: none;}

		p {
			margin: 0;
			font-family: @fontBold;
			letter-spacing: -0.2px;
			position: relative;
		}

		a {
			color: #fff;
			outline: 0;
			text-decoration: none;
			letter-spacing: 0.3px;
		}

		.icon-vk_footer {
			.size(39px;40px);			
			background:  url("@{rootUrl}vk.png") no-repeat;
			margin-top: 6px;
		}

		.icon-phone_ico {
			.size(27px;45px);			
			background:  url("@{rootUrl}phone_ico.png") no-repeat;			
			margin: 0 13px 0 0;
		}
		.icon-site_footer {
			.size(33px;39px);			
			background:  url("@{rootUrl}site_ico.png") no-repeat;
			margin: 3px 13px 0 0;			
		}

		.small-phon {
			display: block;
			font-size: 11px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -20px;
			padding-left: 43px;
			text-align: center;
			margin: auto;
		}
	}

	.copy-lang {
		margin: 0;
		color: #8e8e8e;
		font-size: 8pt;
		padding: 9px 46px 4px 65px;
		text-align: center;
		letter-spacing: 0.25px;
	}

	 .call-back {
        background: #393939;
        text-align: center;
        padding: 11px 0 5px 0;
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 10000;
        display: none;

        p {
            margin: 0;
            color: #fff;
            display: inline-block;
            vertical-align: top;
            font-size: 11pt;
            padding-top: 2px;
        }

        FORM {
            width: 340px;
            display: inline-block;

            .phone {
                height: 22px;
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
                line-height: 19px;
                width: 150px;
            }
        }
        .btn {
            margin: -1px 0 0 15px;
            outline: none;
            margin-top: 0px;
            border-top: 0px;
            border-left: 0px;
            margin-left: 3px;
            border-right: 0px;
        }

        .btn:disabled {
            border-bottom-color: #ccc;
            color:black;
        }

        INPUT:disabled {
            background:#ccc;
        }
    }

	

	@media (max-width: 1000px) {
		.contacts {padding: 0;}
		.footer-col {
			margin-left: 10px;
			font-size: 12pt;

			i {font-size: 25pt!important;}
		}
	}

	@media (max-width: 920px) {
		margin-top: 0;
	}

	@media (max-width: 660px) {
		text-align: center;

		.footer-col {
			float: none;
			text-align: center;
			margin: 15px 0 0 0;

			&.vk-col {display: none;}

			.mob-vk {display: inline-block; margin-left: 14px;}
		}

		.logo-footer {			
			float: none;
			display: inline-block;
			vertical-align: top;
			margin-top: 15px;
		}

		.copy-lang {padding: 0;}
	}

	@media (max-width: 450px) {
		text-align: center;

		.footer-col {
			float: none;
			text-align: left;
			margin: 15px 0 0 45px;
		}
	}
}

//////////////////////////////////////////////////////

.go-top {
	position: absolute;
	right: 14px;
	top: -23px;
	background: url("@{rootUrl}up.png") no-repeat;
	width: 46px;
	height: 46px;
	outline: 0!important;

	&:after {
		content: "";
		background: url("@{rootUrl}up-hoover.png") no-repeat;
		width: 46px;
		height: 46px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		.opacity(0);
		.transition(0.3s all ease);
	}

	&:hover {&:after {.opacity(1);}}
}


.question-pop-up {
  display: none;
  padding: 40px;
  
  .title-pop-up {
    margin: 5px 0 21px 0;
    font-size: 17pt;
    font-weight: 400;
  }

  .input-container {
    width: 520px;
    margin-bottom: 20px;

    &.error {
      label {color: #a93c3c;}
      .error-caption {display: block;} 
    }

    .error-caption {
      margin: 13px 0 0 0;
      padding: 0 0 0 39px;
      position: relative;
      display: none;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        background: url("@{rootUrl}error_icon.png") no-repeat;
        width: 21px;
        height: 21px;
        left: 10px;
        top: -3px;
      }
    }

    label {
      display: block;
      font-size: 11pt;
      margin-bottom: 6px;
    }

    input[type="text"], input[type="email"], textarea {
      background-image: linear-gradient(-180deg, #F2F2F2 0%, #FFFFFF 21%);
      border: 1px solid #CBCBCB;
      .border-radius(4px);
      font-size: 14px;
      color: #333333;
      height: 50px;
      line-height: 50px;
      padding-left: 9px;
      width: 100%;
      outline: 0;

      &:active, &:focus {
        background-image: linear-gradient(-180deg, #F2F2F2 0%, #FFFFFF 21%);
        border: 1px solid #A8A8A8;
        box-shadow: 0px 0px 4px 0px rgba(93,166,225,0.45);
      }
    }

    textarea {
      line-height: 16px;
      height: 143px;
    }

    .jq-selectbox {width: 100%;}

    .jq-selectbox__select {
      height: 50px;
      line-height: 50px;
      padding: 0 45px 0 10px;
      box-shadow: none;
      font: 14px/32px Arial, sans-serif;
      font-family: 'HelveticaNeue-Regular';
      color: #333;
      text-shadow: none;
      background-image: linear-gradient(-180deg, #F2F2F2 0%, #E7E7E7 100%);
      border: 1px solid #DCDCDC;
      border-radius: 4px;
      .border-radius(4px);
      width: 100%;
    }

    .jq-selectbox__select-text {line-height: 50px;}

    .jq-selectbox__trigger {
      top: 9px;
      border-left: 0;
    }

    .jq-selectbox__dropdown {
      ul {
        li {
          height: 50px;
          line-height: 50px;
          font-family: 'HelveticaNeue-Regular';
          padding-top: 0;
          padding-bottom: 0;
          border: 1px solid #DCDCDC;

          &:hover {
            background: #DCDCDC;
            color: #000;
          }
        }
      }
    }

    .jq-selectbox li.selected {
      background-color: #fff;
      color: #C6C6C6;
    }
  }
}

.pop-up-wrap {
  .fancybox-close {
    background: url("@{rootUrl}close.png") no-repeat;
    width: 9px;
    height: 9px;
    top: 16px;
    right: 16px;

    &:hover {&:after {.opacity(1);}}

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .opacity(0);
      .transition(0.3 all ease);
      width: 9px;
      height: 9px;
      background: url("@{rootUrl}close_hoover.png") no-repeat;
    }
  }

  .fancybox-inner {
    height: auto!important;
    overflow: visible!important;
  }
}


#call_widget_container{
	display: none;
}

.slideOOO{
	margin:auto;
	display: block;
	margin-bottom: 20px;
	max-width: 100%
}

.success{
	color: green;
}


.hiddenAlways{
	display: none !important;
}

.map_title{
	margin-top: 40px;
    position: absolute;
    z-index: 500;
    width: 100%;
}


html.fancybox-lock {
    overflow: visible !important;
}