@import "fonts.css";
/*@import "catalog.less";
@import "project.less";
@import "furniture.less";
@import "contacts.less";
@import "text-page.less";*/
/*.bold {font-family: @fontBold}
.medium {font-family: @fontMedium}
.regular {font-family: @fontRegular}
.light {font-family: @fontLight}

.color-blue {color: @colorBlue}
.color-green {color: @colorGreen}
.color-gray {color: @grayLighten}*/
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.hidden {
  display: none;
}
.align-center {
  text-align: center;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 14pt;
  line-height: 1.3;
  color: #212121;
  background: #fff;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
#main {
  min-height: 100%;
  min-width: 550px;
  overflow: hidden;
  display: block;
  position: relative;
}
#header {
  min-height: 70px;
  width: 100%;
  background: #212121;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 320px;
}
@media (max-width: 1280px) {
  #header {
    text-align: center;
  }
  #header .main-container {
    padding: 0;
  }
}
.logo {
  text-decoration: none;
  display: inline-block;
  line-height: 43px;
  height: 43px;
  margin: 12px 0 0 16px;
}
.logo div {
  width: 43px;
  height: 43px;
  background: url("images/logo_icon.png") no-repeat;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
}
.logo span {
  color: #fff;
  font-size: 16pt;
  line-height: 43px;
  display: none;
}
@media (max-width: 1280px) {
  .logo {
    display: inline-block;
    margin: 8px 0 0 0;
  }
  .logo span {
    display: inline-block;
    vertical-align: middle;
  }
}
.phone {
  width: 300px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  line-height: 29px;
}
.phone i {
  font-size: 28pt;
  display: inline-block;
  vertical-align: top;
  line-height: 47px;
}
.phone p {
  margin: 0;
  font-family: 'HelveticaNeueCyr-Bold';
  letter-spacing: -0.2px;
  position: relative;
}
.phone .icon-phone_ico {
  width: 27px;
  height: 45px;
  background: url("images/phone_ico.png") no-repeat;
  margin: 0 13px 0 10px;
}
.phone .small-phon {
  display: block;
  font-size: 11px;
  position: absolute;
  top: 22px;
  left: 100px;
  margin: auto;
}
@media (max-width: 1200px) {
  #header .phone, #main .phone, #footer .phone {
    display: none;
  }
}
.nav-menu {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 13px;
}
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu ul li {
  float: left;
  border-right: 1px solid #575757;
}
.nav-menu ul li:first-child {
  border-left: 1px solid #575757;
}
.nav-menu ul li a {
  color: #fff;
  text-decoration: none;
  width: auto;
  height: 70px;
  padding: 0 10px;
  font-size: 10pt;
  text-align: center;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  outline: 0;
  letter-spacing: 0.5px;
  display: block;
  line-height: 70px;
  font-family: 'HelveticaNeueCyr-Light';
}
.nav-menu ul li a:hover {
  background: #c73535;
}
.nav-menu ul li a i {
  padding: 0 5px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
.nav-menu ul li a .icon-comments {
  width: 30px;
  height: 34px;
  background: url("images/comments.png") no-repeat;
  padding: 0 11px 0 3px;
}
.nav-menu ul li a .icon-mail {
  width: 30px;
  height: 28px;
  background: url("images/mail.png") no-repeat;
  padding: 0 9px 0 7px;
}
.nav-menu ul li a .icon-price {
  width: 30px;
  height: 23px;
  background: url("images/price.png") no-repeat;
}
@media (max-width: 1200px) {
  .nav-menu {
    padding: 15px 0 0 0;
    width: 100%;
    margin: 0;
  }
  .nav-menu ul {
    text-align: center;
  }
  .nav-menu ul li {
    width: 28%;
    float: none;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #575757;
    padding-right: 5px;
    padding-left: 5px;
  }
  .nav-menu ul li:first-child {
    border-left: 1px solid #575757;
    padding-left: 10px;
  }
  .nav-menu ul li a {
    display: block;
    width: 100%;
    margin-left: -3px;
  }
}
@media (max-width: 992px) {
  .nav-menu ul li a {
    font-size: 10pt;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
}
@media (max-width: 768px) {
  .nav-menu ul li {
    width: 32%;
  }
  .nav-menu ul li a {
    font-size: 8pt;
  }
  .nav-menu ul li a i {
    font-size: 18pt!important;
    padding: 0!important;
  }
}
@media (max-width: 600px) {
  .nav-menu ul li {
    width: 28%;
    float: left;
  }
  .nav-menu .mail {
    width: 44%;
  }
  .nav-menu ul li a {
    font-size: 6pt;
    height: 100%;
  }
  .nav-menu ul li a i {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 11pt!important;
    padding: 0!important;
    height: 34px!important;
  }
}
#first-page {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background: url("images/BG_pattern_head.png");
  z-index: 2;
}
#first-page .wrap {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(50% 150%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
}
#first-page .main-container {
  height: 100%;
  position: relative;
}
@media (max-width: 992px) {
  #first-page .wrap {
    padding-top: 116px;
  }
}
@media (max-width: 370px) {
  
}
@media (max-height: 760px) {
  #first-page {
    height: auto;
  }
}
@media (max-height: 800px) {
  #first-page .ball-wrap {
    width: 290px;
    height: 350px;
    margin: 10px 0 0 72px;
  }
  #first-page .ball-wrap .ball {
    width: 100%;
    background-size: contain;
    padding: 80px 40px;
  }
  #first-page .ball-wrap .ball .reg-text {
    font-size: 17px;
  }
  #first-page .ball-wrap .ball .big-title {
    font-size: 76px;
  }
  #first-page .ball-wrap .ball .for {
    font-size: 12px;
  }
  #first-page .ball-wrap .ball .terms {
    font-size: 12px;
  }
  #first-page .cloud_1 {
    display: none;
  }
  #first-page .logo-color {
    width: 400px;
    background-size: contain;
    margin-left: 20px;
  }
  #first-page .rocketman {
    background-size: contain;
  }
}
@media (max-height: 800px) and (max-width: 500px) {
  #first-page .ball-wrap {
    margin-left: 5px;
  }
}
@media (max-height: 600px) {
  #first-page {
    height: 100%;
  }

  #first-page .wrap{
    padding-top: 150px;
  }
  #first-page .ball-wrap {
    width: 205px;
    height: 345px;
  }
  #first-page .ball-wrap .ball {
    padding: 38px 10px;
  }
  #first-page .ball-wrap .ball .reg-text {
    font-size: 10px;
  }
  #first-page .ball-wrap .ball .big-title {
    font-size: 60px;
  }
  #first-page .ball-wrap .ball .for {
    font-size: 12px;
  }
  #first-page .ball-wrap .ball .terms {
    font-size: 9px;
  }
  #first-page .left-fixed {
    width: 100%;
    z-index: 20;
  }
  #first-page .registration {
    margin: 5px 0 0 11px;
    padding: 10px 12px;
    width: 85%;
    background-size: contain;
  }
  #first-page .registration .gray-text {
    font-size: 17px;
  }
  #first-page .registration .red-text {
    font-size: 22px;
  }
  #first-page .logo-color {
    width: 300px;
    background-size: contain;
    margin-left: 20px;
  }
  #first-page .small-stars {
    top: 35px;
  }
  #first-page .line {
    width: 100%;
    margin-left: 5px;
    background-size: contain;
  }
  #first-page .rocketman {
    top: 155px;
  }
  #first-page .mouse {
    z-index: 30;
  }
}
@media (max-height: 600px) and (max-width: 500px) {
  #first-page .left-fixed {
    width: 100%;
  }
}
@media (max-height: 600px) and (max-width: 370px) {
  #first-page .registration .gray-text {
    font-size: 13px;
  }
  #first-page .registration .red-text {
    font-size: 20px;
  }
}
@media (max-height: 600px) and (max-width: 370px) {
  #first-page .logo-color {
    width: 100%;
  }
}
@media (max-width: 450px) {
  #first-page .ball-wrap {
    width: 250px;
    height: 345px;
  }
  #first-page .ball-wrap .ball .big-title {
    font-size: 41px;
  }
  #first-page .ball-wrap .ball .for {
    font-size: 10px;
    text-align: center;
    margin-top: 2px;
  }
  #first-page .ball-wrap .ball .terms {
    font-size: 8px;
  }
}
.left-fixed {
  display: block;
  float: left;
  position: relative;
  z-index: 10;
}
.registration {
  display: block;
  background: url("images/cloud.png") no-repeat;
  padding: 30px 32px;
  margin: 58px 0 0 31px;
}
.registration .gray-text {
  display: block;
  color: #363636;
  font-size: 27px;
  padding: 9px 29px 0px 28px;
  letter-spacing: -0.4px;
  line-height: 1;
}
.registration .red-text {
  display: block;
  color: #9b1514;
  font-size: 36px;
  font-family: 'HelveticaNeueCyr-Bold';
  letter-spacing: -0.4px;
  line-height: 1.1;
  padding: 0 0 55px 0;
}
.logo-color {
  width: 309px;
  height: 60px;
  background: url("images/logo.png") no-repeat;
  margin: 15px 0 0 115px;
}
.line {
  width: 400px;
  height: 3px;
  background: url("images/logo_line.png") no-repeat;
  margin: 49px 0 0 70px;
}
.ball-wrap {
  width: 376px;
  height: 468px;
  margin: 47px 0 0 72px;
  position: relative;
}
.ball {
  width: 376px;
  height: 468px;
  background: url("images/ball.png") no-repeat;
  padding: 80px 60px;
  position: absolute;
  bottom: -113px;
}
.ball .reg-text,
.ball .big-title,
.ball .terms,
.ball .for {
  display: block;
  color: #fff;
}
.ball .reg-text {
  font-size: 22px;
  font-family: 'HelveticaNeueCyr-Medium';
  text-align: center;
}
.ball .big-title {
  font-size: 106px;
  font-family: 'HelveticaNeueCyr-Bold';
  text-align: center;
  line-height: 1;
}
.ball .for,
.ball .terms {
  font-size: 17px;
  font-family: 'HelveticaNeueCyr-Bold';
  line-height: 1.2;
  /* text-align: center; */

  margin-top: -8px;
  margin-bottom: 11px;
  padding: 0 3px;
}
.ball .for .white-bg-text,
.ball .terms .white-bg-text {
  color: #d63233;
  background: #fff;
  padding: 2px 17px 1px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  ms-border-radius: 15px;
  border-radius: 15px;
  letter-spacing: 0.4px;
}
.ball .for .white-bg-text:first-child,
.ball .terms .white-bg-text:first-child {
  margin-right: 6px;
  margin-left: 15px;
}
.ball .for .white-bg-text:last-child,
.ball .terms .white-bg-text:last-child {
  margin-left: 3px;
}
.small-stars {
  width: 81px;
  height: 85px;
  background: url("images/stars.png") no-repeat;
  position: absolute;
  top: 26px;
  right: 16px;
}
.cloud_3 {
  width: 188px;
  height: 131px;
  background: url("images/cloud_3.png") no-repeat;
  position: absolute;
  top: 249px;
  left: 475px;
}
@media (max-width: 700px) {
  .cloud_3 {
    top: 369px;
    left: 0px;
  }
}
.cloud_1 {
  width: 122px;
  height: 94px;
  background: url("images/cloud_1.png") no-repeat;
  position: absolute;
  top: 402px;
  left: 211px;
  z-index: 10;
}
.cloud_2 {
  width: 134px;
  height: 96px;
  background: url("images/cloud_2.png") no-repeat;
  position: absolute;
  bottom: 235px;
  right: 13px;
}
.rocketman {
  width: 386px;
  height: 469px;
  background: url("images/rocketman.png") no-repeat;
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -235px;
  right: 14px;
}
@media (max-width: 715px) {
  .rocketman {
    width: 300px;
    top: 50%;
  }
}
@media (max-width: 550px) {
  .rocketman {
    width: 250px;
  }
}
@media (max-width: 600px) {
  .rocketman {
    display: none;
  }
}
.mouse {
  width: 25px;
  height: 54px;
  background: url("images/mouse_black.png") no-repeat;
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: 50%;
  margin-left: -12.5px;
}
@media (max-width: 1200px) {
  .mouse {
    display: none;
  }
}
#spb {
  height: 100vh;
  width: 100%;
  background: url("images/SPB.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 83px 0 97px 0;
  min-height: 800px;
  position: relative;
}
@media (max-width: 1200px) {
  #spb {
    padding-top: 150px;
    height: auto;
  }
}
@media (max-width: 600px) {
  #spb {
    height: auto;
  }
  #spb .spb-logo,
  #spb .deco {
    width: 100%;
    background-position: center;
  }
}
@media (max-width: 600px) and (max-width: 400px) {
  #spb .spb-logo,
  #spb .deco {
    background-size: contain;
  }
}
.spb-logo {
  display: block;
  width: 394px;
  height: 222px;
  margin-left: auto;
  margin-right: auto;
  background: url("images/name+text.png") no-repeat;
}
.deco {
  display: block;
  width: 398px;
  height: 36px;
  margin-top: 49px;
  margin-bottom: 51px;
  margin-left: auto;
  margin-right: auto;
  background: url("images/deco.png") no-repeat;
}
.spb-list {
  padding: 0;
  margin: 0 auto;
}
.spb-list li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0;
  color: #fff;
  width: 192px;
  margin: 0px 6px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  padding-left: 3px;
  padding-bottom: 70px;
}
.spb-list li:last-child {
  padding-left: 0;
}
.spb-list li .circle-small {
  display: block;
  margin-top: 20px;
  margin-bottom: 17px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}
.spb-list li .icon-diploma {
  display: block;
  width: 126px;
  height: 124px;
  margin: 0 auto 0 31px;
  background: url("images/man_diploma.png") no-repeat;
}
@media (max-width: 880px) {
  .spb-list li .icon-diploma {
    margin-left: auto;
    margin-right: auto;
  }
}
.spb-list li .icon-money {
  display: block;
  width: 117px;
  height: 124px;
  margin: 0 auto 0 35px;
  background: url("images/money.png") no-repeat;
}
@media (max-width: 880px) {
  .spb-list li .icon-money {
    margin-left: auto;
    margin-right: auto;
  }
}
.spb-list li .icon-web {
  display: block;
  width: 118px;
  height: 124px;
  margin: 0 auto 0 34px;
  background: url("images/globe.png") no-repeat;
}
@media (max-width: 880px) {
  .spb-list li .icon-web {
    margin-left: auto;
    margin-right: auto;
  }
}
.spb-list li .icon-22min {
  display: block;
  width: 117px;
  height: 124px;
  margin: 0 auto 0 36px;
  background: url("images/8.png") no-repeat;
}
@media (max-width: 880px) {
  .spb-list li .icon-22min {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 880px) {
  .spb-list li {
    width: 40%;
  }
}
@media (max-width: 420px) {
  .spb-list li {
    width: 100%;
  }
}
.mouse-circle {
  width: 84px;
  height: 84px;
  background: url("images/oval + mouse.png") no-repeat;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -42px;
}
@media (max-width: 1200px) {
  .mouse-circle {
    display: none;
  }
}
#advantages {
  padding: 115px 0 33px 0;
  text-align: center;
}
.adv-title {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueCyr-Bold';
  font-size: 24px;
  color: #212121;
  letter-spacing: -0.3px;
}
.list-wrap {
  overflow: hidden;
}
.advantage-list {
  padding: 50px 17px 0 ;
  margin: 0 -2px;
}
.advantage-list li {
  float: left;
  list-style: none;
  width: 33.3%;
  margin-bottom: 39px;
  padding: 0 2px;
}
.advantage-list li .img-block {
  width: 100%;
  height: 84px;
  margin-bottom: 19px;
}
.advantage-list li .img-block span {
  margin-left: auto;
  margin-right: auto;
}
.advantage-list li .description {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 700px) {
  .advantage-list li {
    width: 50%;
  }
}
.icon-map {
  display: block;
  width: 82px;
  height: 84px;
  background: url("images/map.png");
}
.year {
  display: block;
  width: 79px;
  height: 83px;
  background: url("images/2009.png");
}
.happy {
  display: block;
  width: 83px;
  height: 83px;
  background: url("images/happy.png");
}
.stacked {
  display: block;
  width: 74px;
  height: 79px;
  background: url("images/stacked.png");
}
.back {
  display: block;
  width: 78px;
  height: 78px;
  background: url("images/back.png");
}
.Renessans {
  display: block;
  width: 77px;
  height: 77px;
  background: url("images/Renessans.png");
}
#reviews {
  display: block;
  background: url("images/review_BG.png") center no-repeat;
  background-size: auto 100% ;
  padding: 32px 0 1px 0;
  margin-bottom: 73px;
}
.rew-title {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueCyr-Bold';
  font-size: 24px;
  letter-spacing: 0px;
  color: #fff;
  text-align: center;
}
.slider-wrap {
  padding: 41px 23px 0;
  margin: 0;
}
@media (max-width: 1200px) {
  .slider-wrap {
    padding: 0 35px;
  }
}
.slider .item {
  padding: 0 29px;
}
.slider .img-block {
  position: relative;
  text-align: center;
  background: url("images/slider_scratch_bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
}
.slider .img-block .wrapper {
  max-height: 314px;
  overflow: hidden;
}
.slider .caption {
  margin: 6px 0 0 0;
  color: #fff;
  font-size: 10pt;
  text-align: center;
}
.slider .hover-block {
  background: url("images/bg-hover.png");
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.slider .hover-block:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider .hover-block:hover .icozoom {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider .hover-block .icozoom {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url("images/zoom.png") no-repeat;
  width: 61px;
  height: 61px;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.slider .hover-block .icozoom:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider .hover-block .icozoom i {
  position: absolute;
  display: block;
  content: "";
  background: url("images/zoom_hoover.png") no-repeat;
  width: 70px;
  height: 70px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 2;
}
@media (max-width: 800px) {
  .slider .hover-block {
    left: 50px;
    right: 50px;
  }
}
.slider .owl-buttons div {
  position: absolute;
  top: 48%;
  margin-top: -18px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 31px;
  height: 31px;
}
.slider .owl-buttons div:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider .owl-buttons div.owl-prev {
  left: -9px;
  background: url("images/left-arrow_on.png") no-repeat;
}
.slider .owl-buttons div.owl-next {
  right: -8px;
  background: url("images/right-arrow_on.png") no-repeat;
}
@media (max-width: 1200px) {
  .slider .item {
    width: auto;
    padding: 0 10px;
    text-align: center;
  }
  .slider .img-block {
    padding: 13px;
  }
  .slider .img-block .hover-block {
    top: 13px;
    left: 23px;
    bottom: 13px;
    right: 23px;
  }
  .slider .owl-buttons div.owl-next {
    right: -32px;
  }
  .slider .owl-buttons div.owl-prev {
    left: -32px;
  }
}
.more-reviews {
  margin: 40px 0 47px 0;
}
.more-reviews .more-title {
  font-size: 16px;
  margin: 0 0 3px 0;
  color: #fff;
  text-align: center;
  letter-spacing: 0.3px;
}
.more-reviews p {
  margin: 0;
  font-size: 11pt;
  text-align: center;
  color: #fff;
  letter-spacing: -0.3px;
}
.link-list {
  margin: 4px 0 53px 0;
  padding: 12px 0px 12px 14px;
  width: 662px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  ms-border-radius: 32px;
  border-radius: 32px;
}
.link-list li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 5px 13px;
  letter-spacing: -0.2px;
}
.link-list li a {
  outline: 0;
  color: #bc1e1d;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-family: 'HelveticaNeueCyr-Bold';
  text-decoration: none;
  border-bottom: 1px solid #bc1e1d;
}
.link-list li a:hover {
  color: #ff5253;
  border-bottom: 1px solid #ff5253;
}
@media (max-width: 700px) {
  .link-list {
    text-align: center;
    width: 550px;
  }
  .link-list a {
    font-size: 10pt;
  }
}
@media (max-width: 550px) {
  .link-list {
    width: 100%;
  }
}
#steps {
  width: 100%;
  min-height: 796px;
  background: url("images/white_BG.jpg") no-repeat;
  background-position: top left;
  background-size: cover;
  padding: 80px 0 42px 0;
}
.steps-title {
  color: #fff;
  font-size: 23px;
  margin: 0;
  letter-spacing: 1px;
  text-align: center;
}
.steps-list {
  width: 590px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 38px 16px;
}
.steps-list .plus {
  display: block;
  width: 32px;
  height: 32px;
  background: url("images/+.png") no-repeat;
  position: absolute;
  left: 50%;
  top: 92px;
  margin-left: -17px;
}
@media (max-width: 600px) {
  .steps-list .plus {
    top: 283px;
  }
}
.steps-list .arrow-down {
  display: block;
  width: 38px;
  height: 22px;
  background: url("images/arrow.png") no-repeat;
  position: absolute;
  top: 283px;
  left: 50%;
  margin-left: -20px;
}
@media (max-width: 600px) {
  .steps-list .arrow-down {
    top: 555px;
  }
}
.steps-list .inline-item {
  float: left;
  width: 246px;
  margin: 11px 0 78px 21px;
  text-align: center;
}
@media (max-width: 600px) {
  .steps-list .inline-item {
    width: 100%;
    margin-left: 0;
  }
}
.steps-list .inline-item .min22 {
  display: inline-block;
  width: 117px;
  height: 124px;
  background: url("images/22.png") no-repeat;
}
.steps-list .inline-item .min8 {
  display: inline-block;
  width: 117px;
  height: 124px;
  background: url("images/8.png") no-repeat;
}
.steps-list .inline-item .days6 {
  display: inline-block;
  width: 114px;
  height: 124px;
  background: url("images/3.png") no-repeat;
}
.steps-list .inline-item .description {
  color: #fff;
  font-size: 20px;
  padding: 16px 0 0 0;
  line-height: 1.2;
}
.steps-list .item {
  display: block;
  margin: 0;
  clear: both;
  padding: 0 112px;
}
@media (max-width: 600px) {
  .steps-list .item {
    padding: 0;
  }
}
.steps-list .item .full-term {
  display: block;
  width: 332px;
  height: 121px;
  background: url("images/38.png") no-repeat;
  position: relative;
  margin-bottom: 94px;
}
@media (max-width: 600px) {
  .steps-list .item .full-term {
    margin-left: auto;
    margin-right: auto;
  }
}
.steps-list .item .wow {
  display: block;
  width: 105px;
  height: 104px;
  background: url("images/wow.png") no-repeat;
  position: absolute;
  right: -27px;
  bottom: -57px;
}
@media (max-width: 600px) {
  .steps-list .item .wow {
    bottom: -68px;
    left: 0;
  }
}
.steps-list .item .white-logo {
  display: block;
  width: 241px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  background: url("images/white_logo.png") no-repeat;
  margin: 0 38px;
}
@media (max-width: 600px) {
  .steps-list {
    width: 100%;
  }
}
#required {
  padding: 80px 0 53px 0;
}
.req-title {
  width: 374px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background: url("images/cloud_fill.png") no-repeat;
  padding: 9px 27px;
  font-size: 24px;
  font-family: 'HelveticaNeueCyr-Bold';
  color: #fff;
  letter-spacing: -0.8px;
}
.required-list {
  width: 100%;
  padding: 0px 75px 0px 82px;
  margin: 0;
}
@media (max-width: 400px) {
  .required-list {
    padding: 0;
  }
}
.required-list .item {
  width: 100%;
  margin-bottom: 28px;
}
.required-list .item .img-block {
  width: 158px;
  height: 140px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.required-list .item .passport {
  background: url("images/pass.png") no-repeat;
}
.required-list .item .inn {
  background: url("images/inn.png") no-repeat;
}
.required-list .item .OOOname {
  background: url("images/name_ooo.png") no-repeat;
  margin: 0 10px 0 -10px;
}
.required-list .item .circle-blue,
.required-list .item .circle-green,
.required-list .item .circle-gray {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  margin: -3px 17px 0 -4px;
}
.required-list .item .circle-blue {
  background: url("images/oval_blue.png") no-repeat;
}
.required-list .item .circle-green {
  background: url("images/oval_green.png") no-repeat;
}
.required-list .item .circle-gray {
  background: url("images/oval_grey.png") no-repeat;
}
.required-list .item .text-block {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  ms-border-radius: 80px;
  border-radius: 80px;
  height: 166px;
  padding: 16px 35px 17px 47px;
  width: 73%;
  line-height: 1.2;
  font-size: 14px;
}
.required-list .item .text-block h4 {
  margin: 0;
  font-size: 20px;
  letter-spacing: .6px;
  padding-bottom: 11px;
}
.required-list .item .blue-block {
  border: 2px solid #2B9AC7;
}
.required-list .item .green-block {
  border: 2px solid #6CCD14;
  padding: 20px 35px 17px 47px;
}
.required-list .item .gray-block {
  border: 2px solid #979797;
  padding: 19px 35px 17px 47px;
}
@media (max-width: 958px) {
  .required-list .item .circle-blue,
  .required-list .item .circle-green,
  .required-list .item .circle-gray,
  .required-list .item .img-block,
  .required-list .item .text-block {
    display: block;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
  }
  .required-list .item .img-block {
    background-position: center;
  }
  .required-list .item .text-block {
    width: 100%;
    height: 100%;
  }
}
#prices {
  width: 100%;
  padding: 80px 0 31px 0;
  background: url("images/price_bg.jpg") no-repeat;
  background-position: fixed bottom left;
  background-size: cover;
}
.table-wrap {
  width: 823px;
  height: 561px;
  margin-left: auto;
  margin-right: auto;
  background: url("images/table_bg.png") no-repeat;
  background-size: cover;
  padding: 63px 80px 37px 75px;
  display: table;
}
@media (max-width: 992px) {
  .table-wrap {
    width: 600px;
    padding: 63px 30px 37px 25px;
  }
}
@media (max-width: 630px) {
  .table-wrap {
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 63px 10px 37px 10px;
  }
}
.table-wrap .wrap {
  border-bottom: 1px solid #c6c6c6;
}
.table-header,
.table-bottom {
  padding: 0 0 40px 0;
  margin: 0;
}
.table-header li,
.table-bottom li {
  list-style: none;
  display: inline-block;
  width: 131px;
  font-size: 21px;
  font-family: 'HelveticaNeueCyr-Bold';
  padding: 31px 0 0 0;
  letter-spacing: -0.5px;
  position: relative;
  text-align: center;
}
.table-header li:first-child,
.table-bottom li:first-child {
  width: 356px;
  height: 60px;
  font-size: 24px;
  padding: 0;
  font-family: 'HelveticaNeueCyr-Bold';
  line-height: 1.2;
  letter-spacing: 0;
  text-align: left;
  color: #212121;
}
@media (max-width: 992px) {
  .table-header li:first-child,
  .table-bottom li:first-child {
    width: 250px;
  }
}
@media (max-width: 600px) {
  .table-header li:first-child,
  .table-bottom li:first-child {
    width: 150px;
    font-size: 18px;
  }
}
.table-header li:first-child:after,
.table-bottom li:first-child:after {
  display: none;
}
.table-header li:first-child + *,
.table-bottom li:first-child + * {
  text-align: center;
  margin-right: 36px;
}
@media (max-width: 992px) {
  .table-header li:first-child + *,
  .table-bottom li:first-child + * {
    width: 100px;
    padding: 0;
  }
}
@media (max-width: 600) {
  .table-header li:first-child + *,
  .table-bottom li:first-child + * {
    margin-right: 21px;
  }
}
.table-header li:after,
.table-bottom li:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 6px;
  background: url("images/triangle.png") no-repeat;
  left: 50%;
  margin-left: -6px;
  bottom: -18px;
}
.table-row {
  display: table-row;
  padding: 0;
  margin: 0;
}
.table-row li {
  display: inline-block;
  display: table-cell;
  float: left;
  list-style: none;
  width: 131px;
  padding: 23px 0 27px 0;
  position: relative;
  text-align: center;
}
.table-row li:first-child {
  width: 369px;
  font-size: 14px;
  padding-left: 3px;
  text-align: left;
}
@media (max-width: 992px) {
  .table-row li:first-child {
    width: 250px;
  }
}
@media (max-width: 600px) {
  .table-row li:first-child {
    width: 171px;
    font-size: 18px;
  }
}
.table-row li:first-child + * {
  text-align: center;
  padding-right: 23px;
  margin-right: 17px;
}
.table-row li:first-child + * .price-item {
  left: 87%;
}
@media (max-width: 992px) {
  .table-row li:first-child + * {
    width: 100px;
    margin: 0 0 0 10px;
  }
}
.table-row li:last-child {
  margin-left: 19px;
}
.table-row li:hover .price-item {
  display: block;
}
.table-row .small-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.last-row {
  border-bottom: 1px solid transparent;
}
.icon-check {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 25px;
  background: url("images/yes.png") no-repeat;
}
.icon-no {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: url("images/no.png") no-repeat;
  margin: 0px 5px 0px 0;
}
.price-item {
  width: 100%;
  height: 25px;
  display: none;
  vertical-align: middle;
  font-size: 21px;
  margin-right: -22px;
}
.price-item .smaller-text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  margin-top: -20px;
}
.table-bottom {
  padding: 0;
}
.table-bottom li {
  font-size: 23px;
  margin-top: -29px;
  padding-right: 0!important;
}
.table-bottom li:first-child {
  height: 0;
}
.table-bottom li:after {
  display: none;
}
.rub {
  font-family: 'ALSRubl';
}
.atention {
  width: 100%;
  height: auto;
  padding: 49px 0;
  position: relative;
}
.atention .ribbons {
  width: 884px;
  height: 405px;
  background: url("images/ribbons.png") no-repeat;
  position: absolute;
  z-index: 10;
  top: 26px;
  left: 50%;
  margin-left: -450px;
}
@media (max-width: 880px) {
  .atention .ribbons {
    width: 100%;
    background-size: 100% 100%;
    margin-left: -50%;
  }
}
.atention .stars {
  width: 676px;
  height: 337px;
  background: url("images/stars_big.png") no-repeat;
  position: absolute;
  z-index: 9;
  top: 3px;
  left: 50%;
  margin-left: -364px;
}
@media (max-width: 880px) {
  .atention .stars {
    width: 100%;
    background-size: 100% 100%;
    margin-left: -50%;
  }
}
.atention .red-title {
  text-align: center;
  font-size: 24px;
  color: #d73133;
  margin: 0;
  padding-bottom: 17px;
}
.atention .sub-title {
  text-align: center;
  font-size: 18px;
  color: #000;
  margin: 0;
}
.timer {
  margin: 27px 0 0 0;
  text-align: center;
}
.timer p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  line-height: 124px;
  font-family: 'HelveticaNeueCyr-Medium';
}
.timer .counter {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.timer .counter .timer-text {
  position: absolute;
  top: 0;
}
.timer .counter .timer-text.left {
  right: 103%;
}
.timer .counter .timer-text.right {
  left: 80%;
  width: 126px;
}
.timer .counter SPAN:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 23px;
  background: url("images/ovalshadow.png") no-repeat;
  bottom: -22px;
  background-size: 100% 100%;
}
.timer .timer-item {
  width: 84px;
  height: 119px;
  text-align: center;
  color: #fff;
  background: url("images/counter.png") no-repeat;
  font-size: 52pt;
  font-family: 'HelveticaNeueCyr-Bold';
}
@media (max-width: 600px) {
  .timer p {
    font-size: 7pt;
    line-height: 70px;
  }
  .timer .timer-item {
    background-size: 100%;
    width: 50px;
    height: 70px;
    font-size: 35pt;
  }
}
#services {
  padding: 94px 0 88px 0;
}
#services .service-title {
  text-align: center;
  font-size: 24px;
  font-family: 'HelveticaNeueCyr-Bold';
  color: #212121;
  margin: 0;
}
#services .wrap {
  width: 100%;
  padding: 0 0 0 59px;
}
#services .wrap .inner-wrap {
  overflow: hidden;
}
@media (max-width: 450px) {
  #services .wrap {
    padding: 0;
  }
}
#withUs {
  background: url("images/users_bg@2x.png") no-repeat;
  background-size: 100% 100%;
  background-position: top;
  margin-bottom: 94px;
}
#withUs .service-title {
  text-align: center;
  font-size: 24px;
  font-family: 'HelveticaNeueCyr-Bold';
  color: #212121;
  margin: 0;
}
#withUs .wrap {
  width: 100%;
  padding: 0 0 0 59px;
}
#withUs .wrap .inner-wrap {
  overflow: hidden;
}
@media (max-width: 450px) {
  #withUs .wrap {
    padding: 0;
  }
}
.service-list {
  margin: 0 -25px;
  padding: 25px 0 94px 0;
}
@media (max-width: 950px) {
  .service-list {
    margin: 0;
  }
}
.service-list li {
  float: left;
  list-style: none;
  padding: 0;
  width: 411px;
  margin: 25px;
}
@media (max-width: 950px) {
  .service-list li {
    width: 50%;
    margin: 25px 0;
  }
}
.service-list li .img-block,
.service-list li .description-blue,
.service-list li .description-red {
  display: inline-block;
  vertical-align: middle;
}
.service-list li .img-block a,
.service-list li .description-blue a,
.service-list li .description-red a {
  display: block;
  text-decoration: underline;
  color: inherit;
  font-size: 14px;
  margin-top: -4px;
}
.service-list li .img-block p,
.service-list li .description-blue p,
.service-list li .description-red p {
  color: #000;
  font-size: 14px;
  margin: 0 0 0 0;
}
.service-list li .img-block .cost,
.service-list li .description-blue .cost,
.service-list li .description-red .cost {
  display: block;
  font-size: 22px;
  font-family: 'HelveticaNeueCyr-Bold';
  margin-top: 5px;
}
@media (max-width: 850px) {
  .service-list li .img-block,
  .service-list li .description-blue,
  .service-list li .description-red {
    display: block;
  }
}
@media (max-width: 850px) {
  .service-list li .img-block {
    margin: auto;
  }
  .service-list li .description-blue,
  .service-list li .description-red {
    margin: auto !important;
  }
  .service-list li P,
  .service-list li SPAN {
    text-align: center;
    width: 100%;
    margin: 0;
  }
}
.service-list li .description-blue {
  color: #375382;
  margin-left: 13px;
  max-width: 230px;
}
.service-list li .description-red {
  color: #df4b4b;
  margin-left: 13px;
}
.service-list li .img-block {
  width: 159px;
  height: 159px;
}
.service-list li .img-block span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.bank {
  background: url("images/bank.png") no-repeat;
}
.point {
  background: url("images/point.png") no-repeat;
}
.tie {
  background: url("images/tie.png") no-repeat;
}
.stamp {
  background: url("images/stamp.png") no-repeat;
}
.cloud_red {
  background: url("images/cloud_red.png") no-repeat;
}
.rent {
  background: url("images/1c.png") no-repeat;
}
.client-list {
  padding: 41px 100px 60px 100px;
  margin: 0;
  text-align: center;
}
.client-list li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 8px 9px;
}
.client-list li span {
  display: inline-block;
}
@media (max-width: 420px) {
  .client-list {
    padding-left: 0;
    padding-right: 0;
  }
  .client-list li {
    width: 100%;
    margin: 8px 0;
  }
  .client-list li span {
    width: 100%;
    background-size: contain;
    background-position: center;
  }
}
.Life {
  width: 190px;
  height: 52px;
  background: url("images/Life.png") no-repeat;
}
.CCP {
  width: 168px;
  height: 46px;
  background: url("images/CCP.png") no-repeat;
}
.galaktika {
  width: 253px;
  height: 50px;
  background: url("images/galaktika.png") no-repeat;
}
.imperator {
  width: 174px;
  height: 67px;
  background: url("images/imperator.png") no-repeat;
}
.petro {
  width: 236px;
  height: 49px;
  background: url("images/petro.png") no-repeat;
}
.partners-list {
  padding: 60px 0;
  margin: 0;
  text-align: center;
}
.partners-list li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.partners-list li .bank-item {
  display: block;
  width: 212px;
  height: 296px;
  border: 1px solid #aeaeae;
  margin: 0;
}
.partners-list li .bank-item img {
  width: 100%;
  height: 100%;
}
.partners-list li .caption {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 14px;
  font-family: 'HelveticaNeueCyr-Bold';
}
@media (max-width: 882px) {
  .partners-list li {
    width: 290px;
    text-align: center;
  }
  .partners-list li .bank-item {
    display: inline-block;
  }
}
#order {
  padding: 0 0 139px 0;
}
#order .main-container {
  padding: 0 30px;
}
#order .wrap {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 393px;
}
.clouds_under {
  display: block;
  position: absolute;
  z-index: 1;
  width: 924px;
  height: 520px;
  top: -59px;
  left: -18px;
  background: url("images/clouds22.png") no-repeat;
}
@media (max-width: 992px) {
  .clouds_under {
    background-size: 100%;
    width: 100%;
  }
}
@media (max-width: 770px) {
  .clouds_under {
    z-index: 1;
  }
}
.clouds_above_big {
  display: block;
  position: absolute;
  z-index: 3;
  width: 187px;
  height: 131px;
  top: -50px;
  left: -42px;
  transition: 1s all;
  background: url("images/clouds1(top).png") no-repeat;
}
@media (max-width: 600px) {
  .clouds_above_big {
    z-index: 1;
  }
}
.movingWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.movingWrap.topLeft {
  margin-top: -10px;
  margin-left: -10px;
}
.movingWrap.topRight {
  margin-top: 10px;
  margin-left: 10px;
}
.movingWrap.bottomLeft {
  margin-top: 10px;
  margin-left: 10px;
}
.movingWrap.bottomRight {
  margin-top: 10px;
  margin-left: 10px;
}
.clouds_above_small {
  display: block;
  position: absolute;
  z-index: 3;
  width: 115px;
  height: 84px;
  bottom: -55px;
  left: 50%;
  margin-left: -57px;
  background: url("images/clouds2(top).png") no-repeat;
}
@media (max-width: 770px) {
  .clouds_above_small {
    bottom: -134px;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .clouds_above_small {
    z-index: 1;
  }
}
.rocket {
  display: block;
  position: absolute;
  z-index: 3;
  width: 181px;
  height: 170px;
  top: -48px;
  right: -14px;
  background: url("images/rocket.png") no-repeat;
}
@media (max-width: 992px) {
  .rocket {
    background-size: 100%;
    right: 0;
  }
}
@media (max-width: 770px) {
  .rocket {
    zoom: 0.8;
  }
}
@media (max-width: 600px) {
  .rocket {
    z-index: 1;
  }
}
.order-form {
  position: absolute;
  z-index: 2;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  ms-border-radius: 20px;
  border-radius: 20px;
  padding: 80px 50px 80px 51px;
  background: #F6F6F6;
}
.order-form .order-title {
  text-align: center;
  font-size: 24px;
  font-family: 'HelveticaNeueCyr-Bold';
  color: #212121;
  margin: 0;
  clear: both;
  padding-bottom: 41px;
}
.order-form .list-title {
  font-size: 15px;
  font-family: 'HelveticaNeueCyr-Bold';
  letter-spacing: -0.6px;
}
.order-form p {
  font-size: 14px;
  color: #000;
  letter-spacing: -0.2px;
  line-height: 1;
  padding: 9px 0 0 0;
  margin: 0;
}
.order-form .mail {
  padding: 24px 0 10px 0;
}
.order-form .f-right {
  text-align: left;
  width: 481px;
}
@media (max-width: 992px) {
  .order-form .f-right {
    width: 350px;
  }
}
@media (max-width: 770px) {
  .order-form .f-right {
    float: none;
    clear: both;
    width: 481px;
    padding-top: 30px;
  }
}
@media (max-width: 600px) {
  .order-form .f-right {
    width: 100%;
  }
}
.order-list {
  padding: 0;
  margin: 0;
}
.order-list li {
  list-style: none;
  padding: 4px 0 0 19px;
  margin: 0 0;
  position: relative;
  line-height: 1;
}
.order-list li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  letter-spacing: -0.2px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.order-list li a:hover {
  color: #c02425;
  text-decoration: underline;
}
.order-list li:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  ms-border-radius: 50%;
  border-radius: 50%;
  background: #ff5253;
  position: absolute;
  top: 50%;
  left: 8px;
}
.input-wrap {
  width: 100%;
  height: 50px;
  border: 1px solid #cecece;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
@media (max-width: 600px) {
  .input-wrap INPUT,
  .input-wrap A {
    position: relative;
    display: block;
  }
}
.thx-btn {
  display: inline-block;
  position: absolute;
  z-index: 11;
  top: 2px;
  right: 2px;
  font-size: 14px;
  padding: 14px 32px 13px 32px;
  background: #d63233;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  ms-border-radius: 5px;
  border-radius: 5px;
}
.thx-btn:hover {
  background: #ff5253;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  ms-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  border: none;
  color: #000;
  font-size: 13px;
  padding-left: 8px;
}
.map {
  height: 600px;
}
#footer {
  min-width: 550px;
  background: #212121;
  /*  margin-top: -177px;*/

  padding-bottom: 30px;
}
#footer .main-container {
  position: relative;
}
#footer .logo-footer {
  display: inline-block;
  width: 222px;
  height: 43px;
  background: url("images/Logo_grey.png") no-repeat;
  outline: 0;
  float: left;
  margin: 43px 0 0 0;
}
#footer .contacts {
  padding: 0 60px;
}
#footer .footer-col {
  max-width: 216px;
  float: right;
  color: #fff;
  line-height: 47px;
  height: 47px;
  margin: 41px 0 0 41px;
}
#footer .footer-col i {
  font-size: 28pt;
  display: inline-block;
  vertical-align: top;
  line-height: 47px;
}
#footer .footer-col .mob-vk {
  display: none;
}
#footer .footer-col p {
  margin: 0;
  font-family: 'HelveticaNeueCyr-Bold';
  letter-spacing: -0.2px;
  position: relative;
}
#footer .footer-col a {
  color: #fff;
  outline: 0;
  text-decoration: none;
  letter-spacing: 0.3px;
}
#footer .footer-col .icon-vk_footer {
  width: 39px;
  height: 40px;
  background: url("images/vk.png") no-repeat;
  margin-top: 6px;
}
#footer .footer-col .icon-phone_ico {
  width: 27px;
  height: 45px;
  background: url("images/phone_ico.png") no-repeat;
  margin: 0 13px 0 0;
}
#footer .footer-col .icon-site_footer {
  width: 33px;
  height: 39px;
  background: url("images/site_ico.png") no-repeat;
  margin: 3px 13px 0 0;
}
#footer .footer-col .small-phon {
  display: block;
  font-size: 11px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  padding-left: 43px;
  text-align: center;
  margin: auto;
}
#footer .copy-lang {
  margin: 0;
  color: #8e8e8e;
  font-size: 8pt;
  padding: 9px 46px 4px 65px;
  text-align: center;
  letter-spacing: 0.25px;
}
#footer .call-back {
  background: #393939;
  text-align: center;
  padding: 11px 0 5px 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10000;
  display: none;
}
#footer .call-back p {
  margin: 0;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-size: 11pt;
  padding-top: 2px;
}
#footer .call-back FORM {
  width: 340px;
  display: inline-block;
}
#footer .call-back FORM .phone {
  height: 22px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 19px;
  width: 150px;
}
#footer .call-back .btn {
  margin: -1px 0 0 15px;
  outline: none;
  margin-top: 0px;
  border-top: 0px;
  border-left: 0px;
  margin-left: 3px;
  border-right: 0px;
}
#footer .call-back .btn:disabled {
  border-bottom-color: #ccc;
  color: black;
}
#footer .call-back INPUT:disabled {
  background: #ccc;
}
@media (max-width: 1000px) {
  #footer .contacts {
    padding: 0;
  }
  #footer .footer-col {
    margin-left: 10px;
    font-size: 12pt;
  }
  #footer .footer-col i {
    font-size: 25pt!important;
  }
}
@media (max-width: 920px) {
  #footer {
    margin-top: 0;
  }
}
@media (max-width: 660px) {
  #footer {
    text-align: center;
  }
  #footer .footer-col {
    float: none;
    text-align: center;
    margin: 15px 0 0 0;
  }
  #footer .footer-col.vk-col {
    display: none;
  }
  #footer .footer-col .mob-vk {
    display: inline-block;
    margin-left: 14px;
  }
  #footer .logo-footer {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
  }
  #footer .copy-lang {
    padding: 0;
  }
}
@media (max-width: 450px) {
  #footer {
    text-align: center;
  }
  #footer .footer-col {
    float: none;
    text-align: left;
    margin: 15px 0 0 45px;
  }
}
.go-top {
  position: absolute;
  right: 14px;
  top: -23px;
  background: url("images/up.png") no-repeat;
  width: 46px;
  height: 46px;
  outline: 0!important;
}
.go-top:after {
  content: "";
  background: url("images/up-hoover.png") no-repeat;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.go-top:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.question-pop-up {
  display: none;
  /* changed 20.05.2016
  padding: 40px; */
  /* changes 26.05.16 */
  padding: 20px 40px;
}
.question-pop-up .title-pop-up {
  margin: 5px 0 21px 0;
  /* font-size: 17pt; */
  font-weight: 400;
  font-size: 22px; /* changes 20.05.2016 */
}
.question-pop-up .input-container {
  /* width: 520px; changes 20.05.2016*/
  margin-bottom: 20px;
}
.question-pop-up .input-container.error label {
  color: #a93c3c;
}
.question-pop-up .input-container.error .error-caption {
  display: block;
}
.question-pop-up .input-container .error-caption {
  margin: 13px 0 0 0;
  padding: 0 0 0 39px;
  position: relative;
  display: none;
}
.question-pop-up .input-container .error-caption:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: url("images/error_icon.png") no-repeat;
  width: 21px;
  height: 21px;
  left: 10px;
  top: -3px;
}
.question-pop-up .input-container label {
  display: block;
  /* font-size: 11pt; */
  margin-bottom: 6px;
  /* changes 20.05.2016 */
  font-size: 13px;
  font-weight: normal;
}
.question-pop-up .input-container input[type="text"],
.question-pop-up .input-container input[type="email"],
.question-pop-up .input-container textarea {
  background-image: linear-gradient(-180deg, #f2f2f2 0%, #ffffff 21%);
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  ms-border-radius: 4px;
  border-radius: 4px;
  /* font-size: 14px; */
  color: #333333;
  height: 50px;
/*   line-height: 50px;
padding-left: 9px; */
  width: 100%;
  outline: 0;
  /* changes 20.05.2016 */
  font-size: 13px;
  line-height: 35px;
  height: 35px;
}
.question-pop-up .input-container input[type="text"]:active,
.question-pop-up .input-container input[type="email"]:active,
.question-pop-up .input-container textarea:active,
.question-pop-up .input-container input[type="text"]:focus,
.question-pop-up .input-container input[type="email"]:focus,
.question-pop-up .input-container textarea:focus {
  background-image: linear-gradient(-180deg, #f2f2f2 0%, #ffffff 21%);
  border: 1px solid #A8A8A8;
  box-shadow: 0px 0px 4px 0px rgba(93, 166, 225, 0.45);
}
.question-pop-up .input-container textarea {
  line-height: 16px;
  height: 143px;
}
.question-pop-up .input-container .jq-selectbox {
  width: 100%;
}
.question-pop-up .input-container .jq-selectbox__select {
  height: 50px;
  line-height: 50px;
  padding: 0 45px 0 10px;
  box-shadow: none;
  font: 14px/32px Arial, sans-serif;
  font-family: 'HelveticaNeue-Regular';
  color: #333;
  text-shadow: none;
  background-image: linear-gradient(-180deg, #f2f2f2 0%, #e7e7e7 100%);
  border: 1px solid #DCDCDC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  ms-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
}
.question-pop-up .input-container .jq-selectbox__select-text {
  line-height: 50px;
}
.question-pop-up .input-container .jq-selectbox__trigger {
  top: 9px;
  border-left: 0;
}
.question-pop-up .input-container .jq-selectbox__dropdown ul li {
  height: 50px;
  line-height: 50px;
  font-family: 'HelveticaNeue-Regular';
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #DCDCDC;
}
.question-pop-up .input-container .jq-selectbox__dropdown ul li:hover {
  background: #DCDCDC;
  color: #000;
}
.question-pop-up .input-container .jq-selectbox li.selected {
  background-color: #fff;
  color: #C6C6C6;
}

.question-pop-up .addImages{
  background-color: #f2f2f2;
  padding: 20px 15px;
}
.pop-up-wrap .fancybox-close {
  background: url("images/close.png") no-repeat;
  width: 9px;
  height: 9px;
  top: 16px;
  right: 16px;
}
.pop-up-wrap .fancybox-close:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.pop-up-wrap .fancybox-close:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3 all ease;
  -o-transition: 0.3 all ease;
  transition: 0.3 all ease;
  width: 9px;
  height: 9px;
  background: url("images/close_hoover.png") no-repeat;
}
.pop-up-wrap .fancybox-inner {
  height: auto!important;
  overflow: visible!important;
}
#call_widget_container {
  display: none;
}
.slideOOO {
  margin: auto;
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
}
.success {
  color: green;
  padding: 40px;
  text-align: center;
}
.hiddenAlways {
  display: none !important;
}
.map_title {
  margin-top: 40px;
  position: absolute;
  z-index: 500;
  width: 100%;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.parallax-layer {
  position: absolute;
}
.btn {
  display: block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  ms-border-radius: 8px;
  border-radius: 8px;
  outline: 0;
  text-decoration: none;
  font-family: 'HelveticaNeueCyr-Bold';
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.btn.btn-red {
  /* Rectangle: */
  background-image: linear-gradient(-180deg, #BA2525 2%, #932222
  100%);
  border-radius: 5px;
  /* ОТПРАВИТЬ ПИСЬМО: */
  font-family: HelveticaNeueCyr-Medium;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 17px;
  height: 43px;
}
.btn.btn-red:hover, .btn.btn-red:focus {
  /* Rectangle Hoover: */
  background-image: linear-gradient(-180deg, #932222 0%, #BA2525
  50%);
  color: #FFFFFF !important;
}
.btn.btn-small{
  height: 45px;
  line-height: 20px;
  font-size: 13px;
  display: inline-block;
}
.btn.btn-call-back {
  color: #fff;
  background: #ff5253;
  border-bottom: 4px solid #c83a39;
  font-family: 'HelveticaNeueCyr-Roman';
  display: inline-block;
  vertical-align: top;
  font-size: 10pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  ms-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 32px;
  height: 24px;
}
.btn.btn-call-back:hover {
  border-bottom: 2px solid #c83a39;
}


html.fancybox-lock {
    overflow: visible !important;
}



/* new styles added 20.05.16 */
.question-pop-up > form {
  margin-bottom: 19px;
}
.pop-up-wrap-letter .image-block {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 22px 16px 30px;
  margin-bottom: 10px;
  color: #444444;
  font-size: 12px;  
}
.pop-up-wrap-letter .image-block:nth-child(2) {
  margin-bottom: 12px;
}
.pop-up-wrap-letter .image-block h3 {
  padding: 0 0 10px;
  margin: 0 0 15px;
  /* font-size: 44px; */
  /* changes 26.05.16 */
  font-size: 22px;
  font-weight: normal;
  background: transparent url('../img/line.png') repeat-x bottom center;
}
.pop-up-wrap-letter .image-block h4 {
  font-size: 14px;
}
.pop-up-wrap-letter .table {
  font-size: 11px;
}
.pop-up-wrap-letter .image-block .btn {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
}
.pop-up-wrap-letter .image-block .btn-sm {
  color: #000;
}
.pop-up-wrap-letter .image-block .progress {
  margin-bottom: 0;
  height: 15px;
}

.pop-up-wrap-letter .image-block > p {
  margin-bottom: 13px;
}
.table.pop-up-wrap-letter-table {
  margin-bottom: 10px;
}
.pop-up-wrap-letter-table .files td {
  padding-right: 0;
  border-top-style: none;
  border-bottom: 1px solid #ddd;
}

.template-upload td:nth-child(1),
.template-download td:nth-child(1) {
  width: 20%;
}
.template-upload td:nth-child(2),
.template-download td:nth-child(2) {  
  width: 39.3%;
}
.dropzone {
  text-align: center;
}
.dropzone > * {
  display: inline-block;
  vertical-align: middle;
}
.dropzone-visual {
  margin-right: 10px;
}
.dropsone-descr {
  text-align: left;
}
.red-btn-container {
  padding-right: 60px;
  padding-left: 60px;
}

.file_button_holder{
  display: table;
  margin: auto;
}

.file_button_holder .btn:first-child{
  margin-left: 0px;
}

.file_button_holder .btn{
  margin-left: 5px;
}

.btn .span{
  display: block !important;
}