
.clearfix() {
  &:before,
  &:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}

.clearfix {.clearfix();}

.center() {
  margin-left: auto;
  margin-right: auto;
}

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}

.skew(@x; @y) {
  -webkit-transform: skewX(@x) skewY(@y);
      -ms-transform: skewX(@x) skewY(@y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
       -o-transform: skewX(@x) skewY(@y);
          transform: skewX(@x) skewY(@y);
}

// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}

// Box sizing
.border-radius(@border) {
  -webkit-border-radius: @border;
     -moz-border-radius: @border;
       ms-border-radius: @border;
          border-radius: @border;
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

// Placeholder text
.placeholder(@color: @input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: @color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: @color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}
// Sizing shortcuts
.size(@width; @height) {
  width: @width;
  height: @height;
}

.square(@size) {
  .size(@size; @size);
}
// Opacity
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

// ------- 2 columns & one fixed -------
.f_rowFixed(right, @width){
  margin-right: @width;
  width: auto;

  >.bRowFluid_dynamic {
    width: 100%;
    float: left;
  }
  >.bRowFluid_fixed {
    width: @width;
    margin-right: -@width !important;
    float: left;
  }
}
.f_rowFixed(left, @width) {
  margin-left: @width;
  width: auto;
  >.eRowFluid_dynamic{
      width: 100%;
      float: left;
  }
  >.eRowFluid_fixed{
      width: @width;
      margin-left: -@width !important;
      float: left;
  }
}


.parallax-layer {
    position: absolute;
}